<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:property-placeholder location="classpath:application.properties" />
	
	<context:component-scan base-package="com.feiniu.score">
		<context:exclude-filter type="regex" expression="com.feiniu.score.consumer.service.ScoreConsumerServiceImpl" /> 
	</context:component-scan>
	
	<bean id="commonConfig" abstract="true">
		<!-- 配置初始化大小、最小、最大 -->
		<property name="initialSize" value="${jdbc.master.initialSize}" />
		<property name="minIdle" value="${jdbc.master.minIdle}" />
		<property name="maxActive" value="${jdbc.master.maxActive}" />
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="${jdbc.master.maxWait}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc.master.timeBetweenEvictionRunsMillis}" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="${jdbc.master.minEvictableIdleTimeMillis}" />
		<property name="validationQuery" value="${jdbc.master.validationQuery}" />
		<property name="testWhileIdle" value="${jdbc.master.testWhileIdle}" />
		<property name="testOnBorrow" value="${jdbc.master.testOnBorrow}" />
		<property name="testOnReturn" value="${jdbc.master.testOnReturn}" />
		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 mysql false -->
		<property name="poolPreparedStatements" value="${jdbc.master.poolPreparedStatements}" />
		<property name="maxPoolPreparedStatementPerConnectionSize" value="${jdbc.master.maxPoolPreparedStatementPerConnectionSize}" />
		<!-- 配置监控统计拦截的filters -->
		<property name="filters" value="${jdbc.master.filters}" />
		<property name="connectionProperties" value="${jdbc.master.connectionProperties}" />
	</bean>
	
	<bean id="dataSourceScore0" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${mysql0.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql0.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql0.jdbc.password}</value>
		</property>
	 
	</bean>
	
	
	<bean id="dataSourceScore1" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		
		<property name="url">
			<value>${mysql1.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql1.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql1.jdbc.password}</value>
		</property>
	 
	</bean>
	
	
	<bean id="dataSourceScore2" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${mysql2.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql2.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql2.jdbc.password}</value>
		</property>
		 
	</bean>
	
	
	<bean id="dataSourceScore3" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${mysql3.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql3.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql3.jdbc.password}</value>
		</property>
		 
	</bean>
	
	
	
	<bean id="dataSourceScore4"  class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${mysql4.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql4.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql4.jdbc.password}</value>
		</property>
		 
	</bean>
	
	
	<bean id="dataSourceScore5"  class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${mysql5.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql5.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql5.jdbc.password}</value>
		</property>
 
	</bean>
	
	
	
	<bean id="dataSourceScore6" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${mysql6.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql6.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql6.jdbc.password}</value>
		</property>
		 
	</bean>
	
	
	<bean id="dataSourceScore7" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
	 
		<property name="url">
			<value>${mysql7.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql7.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql7.jdbc.password}</value>
		</property>
		 
	</bean>
	
	
	<bean id="dataSourceScore8" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${mysql8.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql8.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql8.jdbc.password}</value>
		</property>
	</bean>
	
	
	<bean id="dataSourceScore9" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${mysql9.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql9.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql9.jdbc.password}</value>
		</property>
		 
	</bean>
	
	
	<bean id="dataSourceScore10" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${mysql10.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql10.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql10.jdbc.password}</value>
		</property>
		 
	</bean>
	
	
	<bean id="dataSourceScore11" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close"  parent="commonConfig">
		 
		<property name="url">
			<value>${mysql11.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql11.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql11.jdbc.password}</value>
		</property>
		 
	</bean>
	
	<bean id="dataSourceScore12" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${mysql12.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql12.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql12.jdbc.password}</value>
		</property>
	</bean>
	
	
	<bean id="dataSourceScore13" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${mysql13.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql13.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql13.jdbc.password}</value>
		</property>
		 
	</bean>
	
	
	<bean id="dataSourceScore14" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close"  parent="commonConfig">
		 
		<property name="url">
			<value>${mysql14.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql14.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql14.jdbc.password}</value>
		</property>
		 
	</bean>
	
	
	<bean id="dataSourceScore15" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${mysql15.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql15.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql15.jdbc.password}</value>
		</property>
		 
	</bean>
	
	<bean id="dataSourceScore" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${mysql.default.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${mysql.default.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${mysql.default.jdbc.password}</value>
		</property>
		 
	</bean>
	
	<bean id="dataSourceCord"  class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close" parent="commonConfig">
		 
		<property name="url">
			<value>${oracle.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${oracle.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${oracle.jdbc.password}</value>
		</property>
		 
	</bean>
	
	<bean id="multipleDataSource" class="com.feiniu.score.datasource.MultipleDataSource">
		<property name="targetDataSources">
			<map>
				<entry key="dataSourceScore0" value-ref="dataSourceScore0"/>
				<entry key="dataSourceScore1" value-ref="dataSourceScore1"/>
				<entry key="dataSourceScore2" value-ref="dataSourceScore2"/>
				<entry key="dataSourceScore3" value-ref="dataSourceScore3"/>
				<entry key="dataSourceScore4" value-ref="dataSourceScore4"/>
				<entry key="dataSourceScore5" value-ref="dataSourceScore5"/>
				<entry key="dataSourceScore6" value-ref="dataSourceScore6"/>
				<entry key="dataSourceScore7" value-ref="dataSourceScore7"/>
				<entry key="dataSourceScore8" value-ref="dataSourceScore8"/>
				<entry key="dataSourceScore9" value-ref="dataSourceScore9"/>
				<entry key="dataSourceScore10" value-ref="dataSourceScore10"/>
				<entry key="dataSourceScore11" value-ref="dataSourceScore11"/>
				<entry key="dataSourceScore12" value-ref="dataSourceScore12"/>
				<entry key="dataSourceScore13" value-ref="dataSourceScore13"/>
				<entry key="dataSourceScore14" value-ref="dataSourceScore14"/>
				<entry key="dataSourceScore15" value-ref="dataSourceScore15"/>
				<entry key="dataSourceScore" value-ref="dataSourceScore"/>
				<entry key="dataSourceCord" value-ref="dataSourceCord"/>
			</map>
		</property>
<!-- 		<property name="defaultTargetDataSource" ref="defaultDataSource"></property> -->
	</bean>
	
	
	<bean id="transactionManagerScore" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="multipleDataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManagerScore" order="2"/>
	
	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<bean id="sqlSessionFactoryScore" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="multipleDataSource" />
		<property name="configLocation" value="classpath:config-mapper-score.xml" />
		<property name="mapperLocations">
		    <list>
		      <value>classpath:com/feiniu/score/mapper/score/*.xml</value>
		    </list> 
		 </property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryScore"/>
		<property name="basePackage" value="com.feiniu.score.mapper.score" />
	</bean>
</beans>