<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"   
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.feiniu.score.mapper.score.ScoreInfoMapper">

	<select id="getScoreInfoList" resultMap="scoreInfo">
		SELECT a.sci_seq, a.scm_seq, a.og_seq, a.channel, a.ins_time, a.sci_sign, a.score_number, rg_seq
		FROM score_info  a
		<if test="mapParam.memGuid != null">
			  inner join score_main b
			on a.scm_seq = b.scm_seq
		     and b.mem_guid in(${mapParam.memGuid})
		</if>
		WHERE 1=1
		<if test="mapParam.startTime != null">
			and a.ins_time >=#{mapParam.startTime}    
		</if>
		
		<if test="mapParam.endTime != null">
			and a.ins_time &lt;=#{mapParam.endTime}    
		</if>
		
		<if test="mapParam.sciSeq != null">
			and a.sci_seq =#{mapParam.sciSeq}    
		</if>
		
		<if test="mapParam.ogSeq != null">
			and a.og_seq =#{mapParam.ogSeq}    
		</if>
		
		<if test="mapParam.sciSeqs != null">
			and a.sci_seq in (${mapParam.sciSeqs})
		</if>
		
		<if test="mapParam.beginSciSeq != null">
			and a.sci_seq >=#{mapParam.beginSciSeq}    
		</if>
		<if test="mapParam.endSciSeq != null">
			and a.sci_seq &lt;#{mapParam.endSciSeq}    
		</if>
		
		ORDER BY a.scm_seq ASC, a.sci_seq ASC
	</select>
	 
	<resultMap type="com.feiniu.score.entity.score.ScoreInfo" id="scoreInfo">
		<id property="sciSeq" column="sci_seq"/>
		<result property="scmSeq" column="scm_seq"/>
		<result property="ogSeq" column="og_seq"/>
		<result property="channel" column="channel"/>
		<result property="insTime" column="ins_time" />
		<result property="sciSign" column="sci_sign" />
		<result property="scoreNumber" column="score_number"/>
<!-- 		<result property="memo" column="memo"/> -->
		<result property="rgSeq" column="rg_seq"/>
<!-- 		<result property="createId" column="create_id"/> -->
<!-- 		<result property="updateId" column="update_id"/> -->
	</resultMap>

	
	
</mapper>