<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"   
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.feiniu.score.mapper.score.ScoreMainLogUnsuccessMapper">

	<insert id="saveScoreMainLogUnsuccessed" useGeneratedKeys="true" keyProperty="sl.smlSeq">
		INSERT INTO score_main_log_unsuccessed
							(sml_seq, mem_guid, score_number, end_time, limit_time, status, og_seq, channel, rg_seq, remark)
        						VALUES   
        					(#{sl.smlSeq}, #{sl.memGuid}, #{sl.scoreNumber},
        					<choose >
        						<when test="sl.endTime == null">'0000-00-00'</when>
        						<otherwise>#{sl.endTime}</otherwise>
        					</choose>
        					,
        					<choose >
        						<when test="sl.limitTime == null">'0000-00-00'</when>
        						<otherwise>#{sl.limitTime}</otherwise>
        					</choose>	
        					, #{sl.status}, #{sl.ogSeq}, #{sl.channel}, #{sl.rgSeq}, #{sl.remark})		
	</insert>
	
	<update id="updateScoreMainLogUnsuccessedJobStatus">
		UPDATE score_main_log_unsuccessed
		SET up_time=now(),
			<choose>
				<when test="type == 0">
					<!-- 有效积分job执行状态 -->
					lock_job_status=#{status}
				</when>
				<when test="type == 1">
					<!-- 过期积分job执行状态 -->
					expir_job_status=#{status}
				</when>
			</choose>
		WHERE sml_seq = #{smlSeq}
	</update>
	
	<select id="getScoreMainLogUnsuccessedList" resultMap="scoreMainLog">
		SELECT sml_seq, mem_guid, score_number, ins_time, end_time, limit_time, status, og_seq, channel, rg_seq,comment_seq, remark, up_time
		from score_main_log_unsuccessed
		where 1=1 and status = 1
		
		<if test="type == 0">
			<!--  有效积分job执行状态 0默认状态 1成功  --> 
			and lock_job_status = 0
		</if>
		
		<if test="type == 1">
			<!-- 过期积分job执行状态 0默认状态 1成功  --> 
			and expir_job_status = 0
		</if>
		
		limit #{mapParam.start},#{mapParam.pageSize}
	</select>
	
	<resultMap type="com.feiniu.score.entity.score.ScoreMainLog" id="scoreMainLog">
		<id property="smlSeq" column="sml_seq"/>
		<result property="memGuid" column="mem_guid"/>
		<result property="scoreNumber" column="score_number"/>
		<result property="insTime" column="ins_time" />
		<result property="endTime" column="end_time" />
		<result property="limitTime" column="limit_time"/>
		<result property="status" column="status"/>
		<result property="ogSeq" column="og_seq"/>
		<result property="channel" column="channel"/>
		<result property="rgSeq" column="rg_seq"/>
		<result property="commentSeq" column="comment_seq"/>
		<result property="remark" column="remark"/>
		<result property="upTime" column="up_time"/>
		<result property="lockJobStatus" column="lock_job_status"/>
		<result property="expirJobStatus" column="expir_job_status"/>
	</resultMap>
</mapper>