<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.feiniu.score.mapper.score.ScoreFinancialReportMapper">

    <select id="shoppingGrantScore" resultType="com.feiniu.score.entity.score.ScoreReportEntity">
        <![CDATA[


            SELECT SUM(b.score_get) "sendScore",
                   seller_no "sellerNo",
                   source_type "sourceType",
                   store_no "storeNo"
            FROM score_main_log${params.tableNo} a ,
                 score_order_detail${params.tableNo} b
            WHERE
            DATE_FORMAT(actual_time, '%Y-%m-%d') = #{params.yesterday}
             AND channel = 0
             AND status=1
             AND a.sml_seq=b.sml_seq
            GROUP BY seller_no


        ]]>
    </select>


    <select id="shoppingGrantScoreEffect" resultType="com.feiniu.score.entity.score.ScoreReportEntity">
        <![CDATA[


             SELECT
             SUM(b.score_get)-SUM(b.score_consume) "effectScore",
             seller_no "sellerNo",
             source_type "sourceType",
             store_no "storeNo"
             FROM
             score_main_log${params.tableNo} a,
             score_order_detail${params.tableNo} b
             WHERE a.limit_time= #{params.limitTime}
             AND b.type IN (0,1)
             AND a.channel=5
             AND a.og_seq = b.og_seq
             GROUP BY seller_no


        ]]>
    </select>

    <select id="selfShoppingUseScore" resultType="com.feiniu.score.entity.score.ScoreReportEntity">
        <![CDATA[


         SELECT SUM(score_consume) "useScore",
          b.source_type "sourceType",
          b.score_type "scoreType",
          b.seller_no "sellerNo"
         FROM score_order_detail${params.tableNo} a,score_year${params.tableNo} b
         WHERE TYPE=2 AND b.scy_seq=a.scy_seq
         AND DATE_FORMAT(a.ins_time, '%Y-%m-%d') = #{params.yesterday}
         GROUP BY b.source_type,b.score_type,b.seller_no


        ]]>
    </select>

    <select id="otherUseScore" resultType="com.feiniu.score.entity.score.ScoreReportEntity">
        <![CDATA[

          SELECT SUM(c.score_consume)  "useScore",
          b.source_type "sourceType",
          b.score_type "scoreType",
          b.seller_no "sellerNo"
         FROM  score_main_log${params.tableNo} a,score_year${params.tableNo} b,
          score_year_log${params.tableNo} c
         WHERE a.channel IN (24,25,26,27)
         AND b.scy_seq=c.scy_seq
         AND a.sml_seq=c.sml_seq
         AND DATE_FORMAT(a.ins_time, '%Y-%m-%d') =#{params.yesterday}
         GROUP BY b.source_type,b.score_type,b.seller_no


        ]]>
    </select>

    <select id="shoppingReturnConsumeScore" resultType="com.feiniu.score.entity.score.ScoreReportEntity">
        SELECT
          SUM(b.score_get) "returnScore",
          c.score_type "scoreType",
          c.seller_no "sellerNo",
          c.source_type "sourceType"
        FROM
          score_main_log${params.tableNo} a,
          score_order_detail${params.tableNo} b ,
          score_year${params.tableNo} c
        WHERE DATE_FORMAT(a.ins_time, '%Y-%m-%d') = #{params.yesterday}
          AND channel = 3
          AND STATUS = 1
          AND a.sml_seq = b.sml_seq AND b.scy_seq=c.scy_seq
        GROUP BY c.source_type,c.score_type,c.seller_no
    </select>

    <select id="recoveryGrantEffectScore" resultType="com.feiniu.score.entity.score.ScoreReportEntity">
      SELECT
          SUM(c.score_consume) "invalidScore",
          d.seller_no "sellerNo",
          d.source_type "sourceType",
          d.score_type "scoreType"
        FROM
          score_main_log${params.tableNo} a,
          score_main_log${params.tableNo} b,
          score_year_log${params.tableNo} c,
          score_year${params.tableNo} d
        WHERE DATE_FORMAT(a.ins_time, '%Y-%m-%d') = #{params.yesterday}
          AND a.channel = 1
          AND a.status=1
          AND a.og_seq=b.og_seq
          AND b.channel=0
          AND b.status=1
          AND a.ins_time>b.limit_time
          AND c.sml_seq=a.sml_seq
          AND c.scy_seq=d.scy_seq
        GROUP BY d.source_type,d.score_type,d.seller_no
    </select>


    <select id="bindAndSignGrantScore" resultType="com.feiniu.score.entity.score.ScoreReportEntity">
        SELECT
          SUM(score_number) "sendScore",
          CASE
            WHEN channel=8 THEN "2"
            WHEN channel=9 THEN "3"
            WHEN channel=16 THEN "4"
          END "scoreType"
        FROM
          score_main_log${params.tableNo}
        WHERE DATE_FORMAT(ins_time, '%Y-%m-%d') =#{params.yesterday}
          AND channel IN (8, 9,  16)
        GROUP BY channel
    </select>

    <select id="commentGrantScore" resultType="com.feiniu.score.entity.score.ScoreReportEntity">
      SELECT
          SUM(score_get) "sendScore",
          seller_no "sellerNo",
          store_no "storeNo"
        FROM
          score_comment_detail${params.tableNo}
        WHERE DATE_FORMAT(ins_time, '%Y-%m-%d') =#{params.yesterday}
        GROUP BY seller_no, store_no

    </select>

    <select id="recoveryCommentGrantScore" resultType="com.feiniu.score.entity.score.ScoreReportEntity">
         SELECT
          SUM(score_consume) "invalidScore",
          seller_no "sellerNo",
          store_no "storeNo"
        FROM
          score_comment_detail${params.tableNo}
        WHERE DATE_FORMAT(ins_time, '%Y-%m-%d') =#{params.yesterday}
        GROUP BY seller_no, store_no
    </select>

    <insert id="saveReport">
        INSERT INTO score_financial_report_grant(edate,type,seller_no,store_no,score_type,send_score,
        effect_score,use_score,return_score,invalid_score,total_send_score,total_effect_score,total_use_score,
        total_return_score,total_invalid_score,have_effect_remainder,ins_time) VALUES
        <foreach collection="entityList" separator="," item="item">
            (
            <choose>
                <when test="item.edate == null">
                    DATE_SUB(CURDATE(),INTERVAL 1 DAY)
                </when>
                <otherwise>
                    #{item.edate}
                </otherwise>
            </choose>
            ,
            #{item.type},
            <choose>
                <when test="item.sellerNo == null">''
                </when>
                <otherwise>
                    #{item.sellerNo}
                </otherwise>
            </choose>
            ,
            <choose>
                <when test="item.storeNo == null">
                    ''
                </when>
                <otherwise>
                    #{item.storeNo}
                </otherwise>
            </choose>
            ,
            #{item.scoreType},
            <choose>
                <when test="item.sendScore == null">
                    0
                </when>
                <otherwise>
                    #{item.sendScore}
                </otherwise>
            </choose>
            ,
            <choose>
                <when test="item.effectScore == null">
                    0
                </when>
                <otherwise>
                    #{item.effectScore}
                </otherwise>
            </choose>
            ,
            <choose>
                <when test="item.useScore == null">
                    0
                </when>
                <otherwise>
                    #{item.useScore}
                </otherwise>
            </choose>
            ,
            <choose>
                <when test="item.returnScore == null">
                    0
                </when>
                <otherwise>
                    #{item.returnScore}
                </otherwise>
            </choose>
            ,
            <choose>
                <when test="item.invalidScore == null">
                    0
                </when>
                <otherwise>
                    #{item.invalidScore}
                </otherwise>
            </choose>
            ,
            <choose>
                <when test="item.totalSendScore == null">
                    0
                </when>
                <otherwise>
                    #{item.totalSendScore}
                </otherwise>
            </choose>
            ,
            <choose>
                <when test="item.totalEffectScore == null">
                    0
                </when>
                <otherwise>
                    #{item.totalEffectScore}
                </otherwise>
            </choose>
            ,
            <choose>
                <when test="item.totalUseScore == null">
                    0
                </when>
                <otherwise>
                    #{item.totalUseScore}
                </otherwise>
            </choose>
            ,
            <choose>
                <when test="item.totalReturnScore == null">
                    0
                </when>
                <otherwise>
                    #{item.totalReturnScore}
                </otherwise>
            </choose>
            ,
            <choose>
                <when test="item.totalInvalidScore == null">
                    0
                </when>
                <otherwise>
                    #{item.totalInvalidScore}
                </otherwise>
            </choose>
            ,
            <choose>
                <when test="item.haveEffectRemainder == null">
                    0
                </when>
                <otherwise>
                    #{item.haveEffectRemainder}
                </otherwise>
            </choose>
            ,
            NOW()
            )
        </foreach>
    </insert>

    <select id="shoppingToUseScore" resultType="com.feiniu.score.entity.score.ScoreReportEntity">
      SELECT
        SUM(score_consume) "useScore",
        seller_no "sellerNo",
        store_no "storeNo"
        FROM score_order_detail${params.tableNo}
        WHERE TYPE=2
        AND  DATE_FORMAT(ins_time, '%Y-%m-%d') = #{params.yesterday}
        GROUP BY seller_no,store_no
    </select>

    <select id="feiniuGrantAndRecoveryScore" resultType="map">
        SELECT
          channel "channel",
          SUM(score_number) "score"
        FROM
          score_main_log${params.tableNo}
        WHERE channel IN (17,21, 22,23,28)
         AND  DATE_FORMAT(ins_time, '%Y-%m-%d') = #{params.yesterday}
        GROUP BY channel

    </select>

    <select id="getStatistics" resultType="com.feiniu.score.entity.score.ScoreReportEntity">
        SELECT
        SUM(send_score) "totalSendScore",
        SUM(effect_score) "totalEffectScore",
        SUM(use_score) "totalUseScore",
        SUM(return_score) "totalReturnScore",
        SUM(invalid_score) "totalInvalidScore"
        FROM
        score_financial_report_grant
        WHERE
        TYPE = #{sre.type}
        AND score_type = #{sre.scoreType}
        <choose>
            <when test="sre.sellerNo == null ">
                AND seller_no=''
            </when>
            <otherwise>
                AND seller_no=#{sre.sellerNo}
            </otherwise>
        </choose>
    </select>

    <select id="getUseStatistics" resultType="com.feiniu.score.entity.score.ScoreReportEntity">
        SELECT
        SUM(use_score) "totalUseScore"
        FROM
        score_financial_report_use
        WHERE
        TYPE = #{sre.type}
        AND score_type = #{sre.scoreType}
        <choose>
            <when test="sre.sellerNo == null ">
                AND seller_no=''
            </when>
            <otherwise>
                AND seller_no=#{sre.sellerNo}
            </otherwise>
        </choose>
    </select>

    <select id="chouJangUseScore" resultType="map">
        SELECT
          channel "channel",
          SUM(score_number) "score"
        FROM
          score_main_log${params.tableNo}
        WHERE channel IN (24,25,26,27)
         AND  DATE_FORMAT(ins_time, '%Y-%m-%d') = #{params.yesterday}
        GROUP BY channel
    </select>

    <insert id="saveUseReport">
        INSERT INTO score_financial_report_use(edate,type,seller_no,store_no,score_type,
        use_score,total_use_score,ins_time) VALUES
        <foreach collection="entityList" separator="," item="item">
            (
            <choose>
                <when test="item.edate == null">
                    DATE_SUB(CURDATE(),INTERVAL 1 DAY)
                </when>
                <otherwise>
                    #{item.edate}
                </otherwise>
            </choose>
            ,
            #{item.type},
            <choose>
                <when test="item.sellerNo == null">''
                </when>
                <otherwise>
                    #{item.sellerNo}
                </otherwise>
            </choose>
            ,
            <choose>
                <when test="item.storeNo == null">
                    ''
                </when>
                <otherwise>
                    #{item.storeNo}
                </otherwise>
            </choose>
            ,
            #{item.scoreType},

            <choose>
                <when test="item.useScore == null">
                    0
                </when>
                <otherwise>
                    #{item.useScore}
                </otherwise>
            </choose>
            ,
            <choose>
                <when test="item.totalUseScore == null">
                    0
                </when>
                <otherwise>
                    #{item.totalUseScore}
                </otherwise>
            </choose>
            ,
            NOW()
            )
        </foreach>
    </insert>

</mapper>