<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.feiniu.score.mapper.score.ScoreMemberMapper">

    <select id="getScoreMember" resultMap="scoreMember">
		SELECT *
				FROM score_member${tableNo}
				WHERE mem_guid = #{memGuid} for update
	</select>

    <select id="getLockedAndExpired" resultMap="scoreMember">
		SELECT expired_score ,locked_score
				FROM score_member${tableNo}
				WHERE mem_guid = #{memGuid} 
	</select>

    <insert id="saveLockedScoreMember" useGeneratedKeys="true">

		INSERT INTO score_member${tableNo} (mem_guid, total_score, locked_score)
									VALUES
											(#{memGuid}, #{lockedScore}, #{lockedScore})    	
	</insert>

    <insert id="saveAvailableScoreMember" useGeneratedKeys="true">
		INSERT INTO score_member${tableNo} (mem_guid,total_score,available_score)
									VALUES
										   (#{memGuid}, #{availableScore},#{availableScore})
	</insert>

    <insert id="saveExpiredScoreMember" useGeneratedKeys="true">
		INSERT INTO score_member${tableNo} (mem_guid,total_score,expired_score)
									VALUES
										   (#{memGuid}, #{expiredScore},#{expiredScore})
	</insert>

    <update id="updateLockedScoreMember">
		UPDATE score_member${tableNo} SET total_score = total_score + #{lockedScore}, locked_score = locked_score + #{lockedScore},
				up_time =now()
			WHERE mem_guid = #{memGuid}
	</update>

    <update id="updateLockedAvailableScoreMember">
		UPDATE score_member${tableNo} SET total_score = total_score + #{totalScore}, locked_score = locked_score + #{lockedScore},
				up_time =now()	, available_score = available_score + #{availableScore}
			WHERE mem_guid = #{memGuid}
	</update>

    <update id="updateAvailableScoreMember">
		UPDATE score_member${tableNo} SET total_score = total_score + #{availableScore}, available_score = available_score + #{availableScore},
		up_time =now()
			WHERE mem_guid = #{memGuid}
	</update>

    <update id="deductLockedScore">
			UPDATE score_member${tableNo} SET total_score = total_score - #{lockedScore}, locked_score = locked_score - #{lockedScore},
			up_time =now()
			WHERE mem_guid = #{memGuid}
	</update>

    <update id="deductScore">
        <!-- 退货发放收回（回收积分）or 订单消费（抵扣积分） or 订单取消发放收回 （回收积分） or 退货回收评论积分
            or 退货回收评论设置为精华获得的积分  or 退货回收评论置顶积分
        -->
        <!-- <if test="type == 1 or type ==2 or type == 7 or type == 13 or type ==14 or type == 15 ">
            UPDATE score_member${tableNo} SET available_score = available_score - #{consumeScore}, used_score = used_score + #{consumeScore}
                   WHERE mem_guid = #{memGuid}
        </if> -->
        <!-- 积分过期（减少可用积分） -->
        <if test="type == 4">
            UPDATE score_member${tableNo} SET available_score = available_score - #{consumeScore},expired_score =
            expired_score + #{consumeScore},
            up_time =now()
            WHERE mem_guid = #{memGuid}
        </if>
    </update>

    <!-- 退货发放收回（回收积分）or 订单消费（抵扣积分） or 订单取消发放收回 （回收积分） or 退货回收评论积分
            or 退货回收评论设置为精华获得的积分  or 退货回收评论置顶积分
    -->
    <update id="deductAvailableScore">
			UPDATE score_member${tableNo}
			SET available_score = available_score - #{consumeScore},
				used_score = used_score + #{consumeScore},
				up_time =now()
			 WHERE mem_guid = #{memGuid}
	
	</update>

    <!-- 积分变成可用（增加可用积分） -->
    <update id="addAvailableScore">
		UPDATE score_member${tableNo} SET available_score = available_score + #{consumeScore}, locked_score = locked_score - #{consumeScore},
		up_time =now()
				   WHERE mem_guid = #{memGuid}	
	</update>

    <!-- 订单取消，积分退回。 -->
    <update id="addScoreBecauseReturn">
		UPDATE score_member${tableNo} SET available_score = available_score + #{consumeScore}, used_score = used_score - #{consumeScore},
				up_time =now()
				   WHERE mem_guid = #{memGuid}	
	</update>


    <!-- 增加过期积分，同时减少可用积分 -->
    <update id="addExpiredScore">
			UPDATE score_member${tableNo} SET available_score = available_score - #{consumeScore},expired_score = expired_score + #{consumeScore},
			up_time =now()
				   WHERE mem_guid = #{memGuid}
	</update>

    <update id="updateExpiredScore">
		UPDATE score_member${tableNo} SET total_score = total_score + #{scoreNumber},expired_score = expired_score + #{scoreNumber},
				up_time =now()
				   WHERE mem_guid = #{memGuid}
	</update>

    <resultMap type="com.feiniu.score.entity.score.ScoreMember" id="scoreMember">
        <id property="scmSeq" column="scm_seq"/>
        <result property="memGuid" column="mem_guid"/>
        <result property="totalScore" column="total_score"/>
        <result property="availableScore" column="available_score"/>
        <result property="usedScore" column="used_score"/>
        <result property="expiredScore" column="expired_score"/>
        <result property="lockedScore" column="locked_score"/>
    </resultMap>


</mapper>