<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.feiniu.score.mapper.score.ScoreCommentDetailMapper">

    <select id="getScoreCommentDetail" resultMap="scoreCommentDetail">
		SELECT *
		FROM score_comment_detail${tableNo} 
		WHERE comment_seq=#{paramMap.commentSeq}
		AND   type=#{paramMap.type}
		AND   mem_guid = #{memGuid} 
	</select>

    <select id="getCommentDetailByProductDetail" resultMap="scoreCommentDetail">
		SELECT *
		FROM score_comment_detail${tableNo}  
		WHERE mem_guid = #{memGuid} 
		AND og_seq = #{sod.ogSeq}
		AND ol_seq = #{sod.olSeq}
		AND type = 0
	</select>


    <insert id="saveScoreCommentDetail">
        INSERT INTO score_comment_detail${tableNo} (sml_seq,mem_guid,comment_seq,rp_seq,ol_seq,og_seq,og_no,
        sm_seq,rg_seq,rl_seq,it_no,score_get,score_consume,type,rg_no,comment_with_pic,seller_no,store_no,sku_seq)
        VALUES (#{scd.smlSeq},#{scd.memGuid},#{scd.commentSeq},
        <choose>
            <when test="scd.rpSeq == null">'',</when>
            <otherwise>#{scd.rpSeq},</otherwise>
        </choose>
        #{scd.olSeq},#{scd.ogSeq},#{scd.ogNo},#{scd.smSeq},#{scd.rgSeq},
        #{scd.rlSeq},#{scd.itNo},#{scd.scoreGet},#{scd.scoreConsume},#{scd.type},
        <choose>
            <when test="scd.rgNo == null">'',</when>
            <otherwise>#{scd.rgNo},</otherwise>
        </choose>
        <choose>
            <when test="scd.commentWithPic == null">''</when>
            <otherwise>#{scd.commentWithPic}</otherwise>
        </choose>
        ,
        <choose>
            <when test="scd.sellerNo == null">''</when>
            <otherwise>#{scd.sellerNo}</otherwise>
        </choose>
        ,
        <choose>
            <when test="scd.storeNo == null">''</when>
            <otherwise>#{scd.storeNo}</otherwise>
        </choose>
        ,
        #{scd.itNo}
        )
    </insert>


    <delete id="deleteScoreCommentDetailBySmlSeq">
      DELETE FROM score_comment_detail${tableNo}
	  WHERE mem_guid = #{memGuid} AND sml_seq=#{smlSeq}
    </delete>

    <resultMap type="com.feiniu.score.entity.score.ScoreCommentDetail" id="scoreCommentDetail">
        <id column="scd_seq" property="scdSeq"/>
        <result column="sml_seq" property="smlSeq"/>
        <result column="mem_guid" property="memGuid"/>
        <result column="comment_seq" property="commentSeq"/>
        <result column="rp_seq" property="rpSeq"/>
        <result column="ol_seq" property="olSeq"/>
        <result column="og_seq" property="ogSeq"/>
        <result column="og_no" property="ogNo"/>
        <result column="sm_seq" property="smSeq"/>
        <result column="rg_seq" property="rgSeq"/>
        <result column="rl_seq" property="rlSeq"/>
        <result column="it_no" property="itNo"/>
        <result column="score_get" property="scoreGet"/>
        <result column="score_consume" property="scoreConsume"/>
        <result column="type" property="type"/>
        <result column="ins_time" property="insTime"/>
        <result column="rg_no" property="rgNo"/>
        <result column="seller_no" property="sellerNo"/>
        <result column="store_no" property="storeNo"/>
        <result column="comment_with_pic" property="commentWithPic"/>
    </resultMap>

</mapper>