<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.feiniu.score.mapper.score.ScoreDefalutTableMapper">


    <select id="getNow" resultType="Date">
		select now()
	</select>

    <insert id="saveFailureJobLog" useGeneratedKeys="true" keyProperty="sju.scuSeq">
		INSERT INTO score_cal_unsuccessed_dddc
			(is_deal,type,src_type,mem_guid,message,error_message)
        VALUES   
        	(#{sju.isDeal}, #{sju.type},#{sju.srcType}, #{sju.memGuid},#{sju.message},#{sju.errorMessage})
        					
	</insert>

    <select id="getScoreCalUnsuccessedList" resultMap="scoreJobUnsuccessed">
        SELECT *
        from score_cal_unsuccessed_dddc
        where 1=1
        <if test="mapParam.isDeal != null">
            and is_deal = 0
        </if>
        <if test="mapParam.type != null">
            and type IN
            <foreach collection="mapParam.type" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        limit #{mapParam.start},#{mapParam.pageSize}
    </select>

    <update id="updateScoreCalUnsuccessedIsDel">
		update score_cal_unsuccessed_dddc  set is_deal = #{isDeal}
		where scu_seq = #{scuSeq}
	</update>

    <update id="updateErrorMsg">
		update score_cal_unsuccessed_dddc  set error_message = #{errorMsg},up_time=NOW()
		where scu_seq = #{scuSeq}
	</update>

    <select id="loadScoreSum" resultType="map">
        SELECT edate,extend,effected,failure,used,recycling,left_effected,left_to_be_effective,ebnu,reciperare,
        CASE
        when suit_website=1 then '飞牛网'
        else '其他'
        END "suit_website"

        FROM score_financial_report
        WHERE 1=1
        <if test="mapParam.startTime != null">
            AND edate >= #{mapParam.startTime}
        </if>

        <if test="mapParam.endTime != null">
            AND edate &lt;= #{mapParam.endTime}
        </if>

        <if test="mapParam.webSite != null">
            AND suit_website = #{mapParam.webSite}
        </if>

        ORDER BY edate ASC
        LIMIT #{mapParam.start},#{mapParam.size}

    </select>

    <select id="getFialureJobLog" resultMap="scoreJobUnsuccessed">

		SELECT  * from `score_cal_unsuccessed_dddc`
		WHERE mem_guid=#{memGuid} and message=#{message} and type=#{type}

	</select>

    <delete id="deleteByScuSeq">
		DELETE FROM `score_cal_unsuccessed_dddc` WHERE scu_seq = #{scuSeq};
	</delete>

    <delete id="delNoStore">
        DELETE FROM ${table} where seller_no=#{key}
    </delete>


    <resultMap type="com.feiniu.score.entity.score.ScoreJobUnsuccessed" id="scoreJobUnsuccessed">
        <id property="scuSeq" column="scu_seq"/>
        <result property="insTime" column="ins_time"/>
        <result property="isDeal" column="is_deal"/>
        <result property="type" column="type"/>
        <result property="srcType" column="src_type"/>
        <result property="memGuid" column="mem_guid"/>
        <result property="message" column="message"/>
        <result property="upTime" column="up_time"/>
    </resultMap>


    <select id="getScoreGrantDetail" resultMap="scoreGrant">
        SELECT
        edate,
        TYPE,
        seller_no,
        store_no,
        score_type,
        send_score,
        effect_score,
        use_score,
        return_score,
        invalid_score,
        total_send_score,
        total_effect_score,
        total_use_score,
        total_return_score,
        total_invalid_score,
        have_effect_remainder
        FROM
        <choose>
            <when test="paramMap.table ==1">
                score_financial_report_grant_month
            </when>
            <otherwise>
                score_financial_report_grant
            </otherwise>
        </choose>
        WHERE edate = #{paramMap.edate}
        LIMIT #{paramMap.start},#{paramMap.size}

    </select>

    <select id="getScoreGrantDetailCount" resultType="Integer">
        SELECT
        count(1)
        FROM
        <choose>
            <when test="paramMap.table ==1">
                score_financial_report_grant_month
            </when>
            <otherwise>
                score_financial_report_grant
            </otherwise>
        </choose>
        WHERE edate = #{paramMap.edate}
    </select>


    <select id="getScoreUseDetail" resultMap="scoreUse">
        SELECT
        edate,
        TYPE,
        seller_no,
        store_no,
        score_type,
        use_score,
        total_use_score
        FROM
        <choose>
            <when test="paramMap.table ==1">
                score_financial_report_use_month
            </when>
            <otherwise>
                score_financial_report_use
            </otherwise>
        </choose>
        WHERE
        edate=#{paramMap.edate}
        LIMIT #{paramMap.start},#{paramMap.size}

    </select>

    <select id="getScoreUseDetailCount" resultType="Integer">
        SELECT
        count(1)
        FROM
        <choose>
            <when test="paramMap.table ==1">
                score_financial_report_use_month
            </when>
            <otherwise>
                score_financial_report_use
            </otherwise>
        </choose>
        WHERE
        edate=#{paramMap.edate}
    </select>

    <select id="getStoreScoreReportInfo" resultMap="storeReport">
          SELECT TYPE,SUM(effect_score) "effectScore",SUM(invalid_score) "invalidScore"
          FROM score_financial_report_grant
          WHERE edate=#{edate} AND TYPE IN (1,2)
          GROUP BY TYPE
    </select>

    <select id="getStoreNo" resultType="java.lang.String">
          SELECT DISTINCT(seller_no) FROM ${table} WHERE edate>='2017-04-28'
    </select>

    <resultMap id="scoreGrant" type="com.feiniu.score.entity.score.ScoreGrant">
        <result property="edate" column="edate"/>
        <result property="type" column="type"/>
        <result property="sellerNo" column="seller_no"/>
        <result property="storeNo" column="store_no"/>
        <result property="scoreType" column="score_type"/>
        <result property="sendScore" column="send_score"/>
        <result property="effectScore" column="effect_score"/>
        <result property="useScore" column="use_score"/>
        <result property="returnScore" column="return_score"/>
        <result property="invalidScore" column="invalid_score"/>
        <result property="totalSendScore" column="total_send_score"/>
        <result property="totalEffectScore" column="total_effect_score"/>
        <result property="totalUseScore" column="total_use_score"/>
        <result property="totalReturnScore" column="total_return_score"/>
        <result property="totalInvalidScore" column="total_invalid_score"/>
        <result property="haveEffectRemainder" column="have_effect_remainder"/>
    </resultMap>

    <resultMap id="scoreUse" type="com.feiniu.score.entity.score.ScoreUse">
        <result property="edate" column="edate"/>
        <result property="type" column="type"/>
        <result property="sellerNo" column="seller_no"/>
        <result property="storeNo" column="store_no"/>
        <result property="scoreType" column="score_type"/>
        <result property="useScore" column="use_score"/>
        <result property="totalUseScore" column="total_use_score"/>
    </resultMap>

    <resultMap id="storeReport" type="com.feiniu.score.vo.StoreReportInfoVo">
        <result property="type" column="type"/>
        <result property="effectScore" column="effectScore"/>
        <result property="invalidScore" column="invalidScore"/>
    </resultMap>
</mapper>