<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feiniu.score.mapper.mrst.PkadMapper" >
  <resultMap id="BaseResultMap" type="com.feiniu.score.entity.mrst.Pkad" >
    <id column="pkad_seq" property="pkadSeq" jdbcType="INTEGER" />
    <result column="pkad_id" property="pkadId" jdbcType="VARCHAR" />
    <result column="memb_id" property="membId" jdbcType="VARCHAR" />
    <result column="memb_grade_f" property="membGradeF" jdbcType="VARCHAR" />
    <result column="pkad_type" property="pkadType" jdbcType="CHAR" />
    <result column="mrst_ui" property="mrstUi" jdbcType="CHAR" />
    <result column="d_pkad" property="ddPkad" jdbcType="VARCHAR" />
    <result column="is_take" property="isTake" jdbcType="TINYINT" />
    <result column="is_recharge" property="isRecharge" jdbcType="TINYINT" />
    <result column="is_open" property="isOpen" jdbcType="TINYINT" />
    <result column="d_take"  property="ddTake" jdbcType="TIMESTAMP"/>
    <result column="d_take_f" property="ddTakeF" jdbcType="VARCHAR" />
    <result column="d_take_t" property="ddTakeT" jdbcType="VARCHAR" />
    <result column="pkad_cnt" property="pkadCnt" jdbcType="INTEGER" />
    <result column="growth_info" property="growthInfo" jdbcType="VARCHAR" />
    <result column="point_info" property="pointInfo" jdbcType="VARCHAR" />
    <result column="card_info" property="cardInfo" jdbcType="VARCHAR" />
    <result column="mrcl_no" property="mrclNo" jdbcType="VARCHAR" />
    <result column="is_cancel" property="isCancel" jdbcType="TINYINT" />
    <result column="ins_time" property="insTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="take_card_seq" property="takeCardSeq" jdbcType="VARCHAR" />
    <result column="mrst_uiname" property="mrstUiName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pkad_seq, pkad_id, memb_id, memb_grade_f,pkad_type, mrst_ui,mrst_uiname,d_pkad, is_take,is_recharge, is_open,d_take,d_take_f, d_take_t, pkad_cnt,growth_info,
     point_info, card_info, mrcl_no,is_cancel,ins_time, update_time, take_card_seq
  </sql>


  <select id="getLastPkad" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM pkad${tableNo}
    <![CDATA[WHERE
    memb_id= #{memGuid,jdbcType=VARCHAR} AND
    is_cancel=0 AND is_take=0 AND d_take_f <= DATE_FORMAT(NOW(),'%Y%m%d')
    AND d_take_t >= DATE_FORMAT(NOW(),'%Y%m%d') order BY d_take_f DESC LIMIT 1
    ]]>

  </select>

  <select id="getPkadByPkadSeqAndMembId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pkad${tableNo}
    where pkad_seq = #{pkadSeq,jdbcType=INTEGER}
    and memb_id = #{membId,jdbcType=VARCHAR}
  </select>

  <select id="getPkadsByPkadSeqsAndMembId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pkad${tableNo}
    where pkad_seq in
    <foreach collection="pkadSeqs" index="" open="("  close=")" item="c" separator="," >
      #{c}
    </foreach>
    and memb_id = #{membId,jdbcType=VARCHAR}
  </select>


   <select id="getPkadByPkadSeqAndMembIdForUpdate" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pkad${tableNo}
    where pkad_seq = #{pkadSeq,jdbcType=INTEGER}
    and memb_id = #{membId,jdbcType=VARCHAR}
    for update
  </select>
  
   <select id="getPkadByPkadIdAndMembId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pkad${tableNo}
    where memb_id = #{membId,jdbcType=VARCHAR}
    	and pkad_id = #{pkadId,jdbcType=VARCHAR}
    	<if test="membGradeF != null" >
    		and memb_grade_f = #{membGradeF,jdbcType=VARCHAR}
    	</if>
   </select>
      
    <select id="getPkadByPkadIdAndMembIdForUpdate" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pkad${tableNo}
    where memb_id = #{membId,jdbcType=VARCHAR}
    	and pkad_id = #{pkadId,jdbcType=VARCHAR}
    	<if test="membGradeF != null" >
    		and memb_grade_f = #{membGradeF,jdbcType=VARCHAR}
    	</if>
    for update
   </select>
   
   <select id="getPkadListBySelective" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pkad${tableNo}
    where memb_id = #{membId,jdbcType=VARCHAR}
      <if test="paramMap.pkadSeq != null" >
    	and pkad_seq = #{paramMap.pkadSeq,jdbcType=INTEGER}
      </if>
      <if test="paramMap.pkadId != null" >
        and pkad_id = #{pkad.pkadId,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.membGradeF != null" >
        and memb_grade_f = #{pkad.membGradeF,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.pkadType != null" >
        and pkad_type = #{paramMap.pkadType,jdbcType=CHAR}
      </if>
      <if test="paramMap.mrstUi != null" >
        and mrst_ui = #{paramMap.mrstUi,jdbcType=CHAR}
      </if>
       <if test="paramMap.mrstUiName != null" >
         and mrst_uiname = #{paramMap.mrstUiName,jdbcType=VARCHAR}
       </if>
       <if test="paramMap.ddPkad != null" >
        and d_pkad = #{paramMap.ddPkad,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.isTake != null" >
        and is_take = #{paramMap.isTake,jdbcType=TINYINT}
      </if>
      <if test="paramMap.isRecharge != null" >
        and is_recharge = #{paramMap.isRecharge,jdbcType=TINYINT}
      </if>
      <if test="paramMap.isOpen != null" >
        and is_open = #{paramMap.isOpen,jdbcType=TINYINT}
      </if>
      <if test="paramMap.ddTake != null" >
        and d_take = #{paramMap.ddTake,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.ddTakeF != null" >
        and d_take_f = #{paramMap.ddTakeF,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.ddTakeT != null" >
        and d_take_t = #{paramMap.ddTakeT,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.isExpire == 0 and paramMap.today != null" >
      		<![CDATA[ 
			and Date(d_take_f) <=Date(#{paramMap.today}) 
			and Date(d_take_t) >=Date(#{paramMap.today})]]>
	  </if>
	   <if test="paramMap.isExpire == 1 and paramMap.today != null" >
      		<![CDATA[ 
			and Date(d_take_t) <Date(#{paramMap.today})]]>
	  </if>
      <if test="paramMap.pkadCnt != null" >
        and pkad_cnt = #{paramMap.pkadCnt,jdbcType=INTEGER}
      </if>
      <if test="paramMap.growthInfo != null" >
        and growth_info = #{paramMap.growthInfo,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.pointInfo != null" >
        and point_info = #{paramMap.pointInfo,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.cardInfo != null" >
        and card_info = #{paramMap.cardInfo,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.mrclNo != null" >
        and mrcl_no = #{paramMap.mrclNo,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.isCancel != null" >
        and is_cancel=#{paramMap.isCancel,jdbcType=TINYINT}
      </if>
       <if test="paramMap.showMrsts != null" >
         and mrst_ui in
                <foreach collection="paramMap.showMrsts" index="" open="("  close=")" item="c" separator="," >
                  #{c}
                </foreach>
       </if>
       <if test="paramMap.order != null and paramMap.sortType != null" >
       		order by ${paramMap.order}  ${paramMap.sortType}
       </if>
       <if test="paramMap.start!= null and paramMap.pageSize!=null">
     	limit #{paramMap.start,jdbcType=INTEGER},#{paramMap.pageSize,jdbcType=INTEGER}
       </if>
  </select>
  
  <select id="getPkadCountBySelective" resultType="java.lang.Integer" >
    select count(1)
    from pkad${tableNo}
    where memb_id = #{membId,jdbcType=VARCHAR}
      <if test="paramMap.pkadSeq != null" >
    	and pkad_seq = #{paramMap.pkadSeq,jdbcType=INTEGER}
      </if>
      <if test="paramMap.pkadId != null" >
        and pkad_id = #{pkad.pkadId,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.membGradeF != null" >
        and memb_grade_f = #{pkad.membGradeF,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.pkadType != null" >
        and pkad_type = #{paramMap.pkadType,jdbcType=CHAR}
      </if>
      <if test="paramMap.mrstUi != null" >
        and mrst_ui = #{paramMap.mrstUi,jdbcType=CHAR}
      </if>
      <if test="paramMap.mrstUiName != null" >
        and mrst_uiname = #{paramMap.mrstUiName,jdbcType=CHAR}
      </if>
       <if test="paramMap.ddPkad != null" >
        and d_pkad = #{paramMap.ddPkad,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.isTake != null" >
        and is_take = #{paramMap.isTake,jdbcType=TINYINT}
      </if>
      <if test="paramMap.isRecharge != null" >
        and is_recharge = #{paramMap.isRecharge,jdbcType=TINYINT}
      </if>
       <if test="paramMap.isOpen != null" >
        and is_open = #{paramMap.isOpen,jdbcType=TINYINT}
      </if>
      <if test="paramMap.ddTake != null" >
        and d_take = #{paramMap.ddTake,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.ddTakeF != null" >
        and d_take_f = #{paramMap.ddTakeF,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.ddTakeT != null" >
        and d_take_t = #{paramMap.ddTakeT,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.isExpire == 0 and paramMap.today != null" >
      		<![CDATA[ 
			and Date(d_take_f) <=Date(#{paramMap.today}) 
			and Date(d_take_t) >=Date(#{paramMap.today})  ]]>
	  </if>
	   <if test="paramMap.isExpire == 1 and paramMap.today != null" >
      		<![CDATA[ 
			and Date(d_take_t) <Date(#{paramMap.today})  ]]>
	  </if>
      <if test="paramMap.pkadCnt != null" >
        and pkad_cnt = #{paramMap.pkadCnt,jdbcType=INTEGER}
      </if>
      <if test="paramMap.growthInfo != null" >
        and growth_info = #{paramMap.growthInfo,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.pointInfo != null" >
        and point_info = #{paramMap.pointInfo,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.cardInfo != null" >
        and card_info = #{paramMap.cardInfo,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.mrclNo != null" >
        and mrcl_no = #{paramMap.mrclNo,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.isCancel != null" >
        and is_cancel=#{paramMap.isCancel,jdbcType=TINYINT}
      </if>
    <if test="paramMap.showMrsts != null" >
      and mrst_ui in
      <foreach collection="paramMap.showMrsts" index="" open="("  close=")" item="c" separator="," >
        #{c}
      </foreach>
    </if>
  </select>
  
  
  <select id="getMrstUisBySelective" resultType="java.lang.String" >
    select mrst_ui
    from pkad${tableNo}
    where memb_id = #{membId,jdbcType=VARCHAR}
      <if test="paramMap.pkadSeq != null" >
    	and pkad_seq = #{paramMap.pkadSeq,jdbcType=INTEGER}
      </if>
      <if test="paramMap.pkadId != null" >
        and pkad_id = #{pkad.pkadId,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.membGradeF != null" >
        and memb_grade_f = #{pkad.membGradeF,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.pkadType != null" >
        and pkad_type = #{paramMap.pkadType,jdbcType=CHAR}
      </if>
       <if test="paramMap.ddPkad != null" >
        and d_pkad = #{paramMap.ddPkad,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.isTake != null" >
        and is_take = #{paramMap.isTake,jdbcType=TINYINT}
      </if>
      <if test="paramMap.isRecharge != null" >
        and is_recharge = #{paramMap.isRecharge,jdbcType=TINYINT}
      </if>
       <if test="paramMap.isOpen != null" >
        and is_open = #{paramMap.isOpen,jdbcType=TINYINT}
      </if>
      <if test="paramMap.ddTake != null" >
        and d_take = #{paramMap.ddTake,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.ddTakeF != null" >
        and d_take_f = #{paramMap.ddTakeF,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.ddTakeT != null" >
        and d_take_t = #{paramMap.ddTakeT,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.today != null" >
      		<![CDATA[ 
			and d_take_f <=Date(#{paramMap.today})  ]]>
	  </if>
      <if test="paramMap.pkadCnt != null" >
        and pkad_cnt = #{paramMap.pkadCnt,jdbcType=INTEGER}
      </if>
      <if test="paramMap.growthInfo != null" >
        and growth_info = #{paramMap.growthInfo,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.pointInfo != null" >
        and point_info = #{paramMap.pointInfo,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.cardInfo != null" >
        and card_info = #{paramMap.cardInfo,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.mrclNo != null" >
        and mrcl_no = #{paramMap.mrclNo,jdbcType=VARCHAR}
      </if>
      <if test="paramMap.isCancel != null" >
        and is_cancel=#{paramMap.isCancel,jdbcType=TINYINT}
      </if>
  </select>
  
  <insert id="savePkad">
    insert into pkad${tableNo}
    <trim prefix="(" suffix=")" suffixOverrides="," >
       <if test="pkad.pkadSeq != null" >
        pkad_seq,
      </if>
      <if test="pkad.pkadId != null" >
        pkad_id,
      </if>
      <if test="pkad.membId != null" >
        memb_id,
      </if>
      <if test="pkad.membGradeF != null" >
        memb_grade_f,
      </if>
      <if test="pkad.pkadType != null" >
        pkad_type,
      </if>
      <if test="pkad.mrstUi != null" >
        mrst_ui,
      </if>
      <if test="pkad.mrstUiName != null" >
        mrst_uiname,
      </if>
      <if test="pkad.ddPkad != null" >
        d_pkad,
      </if>
      <if test="pkad.isTake != null" >
        is_take,
      </if>
      <if test="pkad.isRecharge != null" >
        is_recharge,
      </if>
      <if test="pkad.isOpen != null" >
        is_open,
      </if>
      <if test="pkad.ddTake!= null" >
        d_take,
      </if>
      <if test="pkad.ddTakeF != null" >
        d_take_f,
      </if>
      <if test="pkad.ddTakeT != null" >
        d_take_t,
      </if>
      <if test="pkad.pkadCnt != null" >
        pkad_cnt,
      </if>
      <if test="pkad.growthInfo != null" >
        growth_info,
      </if>
      <if test="pkad.pointInfo != null" >
        point_info,
      </if>
      <if test="pkad.cardInfo != null" >
        card_info,
      </if>
      <if test="pkad.mrclNo != null" >
        mrcl_no,
      </if>
      <if test="pkad.isCancel != null" >
        is_cancel,
      </if>
      <if test="pkad.takeCardSeq != null" >
        take_card_seq
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkad.pkadSeq != null" >
        #{pkad.pkadSeq,jdbcType=INTEGER},
      </if>
      <if test="pkad.pkadId != null" >
        #{pkad.pkadId,jdbcType=VARCHAR},
      </if>
      <if test="pkad.membId != null" >
        #{pkad.membId,jdbcType=VARCHAR},
      </if>
       <if test="pkad.membGradeF!= null" >
        #{pkad.membGradeF,jdbcType=VARCHAR},
      </if>
      <if test="pkad.pkadType != null" >
        #{pkad.pkadType,jdbcType=CHAR},
      </if>
      <if test="pkad.mrstUi != null" >
        #{pkad.mrstUi,jdbcType=CHAR},
      </if>
      <if test="pkad.mrstUiName != null" >
        #{pkad.mrstUiName,jdbcType=VARCHAR},
      </if>
      <if test="pkad.ddPkad != null" >
        #{pkad.ddPkad,jdbcType=VARCHAR},
      </if>
      <if test="pkad.isTake != null" >
        #{pkad.isTake,jdbcType=TINYINT},
      </if>
       <if test="pkad.isRecharge != null" >
         #{pkad.isRecharge,jdbcType=TINYINT},
      </if>
       <if test="pkad.isOpen != null" >
        #{pkad.isOpen,jdbcType=TINYINT},
      </if>
      <if test="pkad.ddTake != null" >
        #{pkad.ddTake,jdbcType=VARCHAR},
      </if>
      <if test="pkad.ddTakeF != null" >
        #{pkad.ddTakeF,jdbcType=VARCHAR},
      </if>
      <if test="pkad.ddTakeT != null" >
        #{pkad.ddTakeT,jdbcType=VARCHAR},
      </if>
      <if test="pkad.pkadCnt != null" >
        #{pkad.pkadCnt,jdbcType=INTEGER},
      </if>
      <if test="pkad.growthInfo != null" >
        #{pkad.growthInfo,jdbcType=VARCHAR},
      </if>
      <if test="pkad.pointInfo != null" >
        #{pkad.pointInfo,jdbcType=VARCHAR},
      </if>
      <if test="pkad.cardInfo != null" >
        #{pkad.cardInfo,jdbcType=VARCHAR},
      </if>
      <if test="pkad.mrclNo != null" >
        #{pkad.mrclNo,jdbcType=VARCHAR},
      </if>
      <if test="pkad.isCancel != null" >
        #{pkad.isCancel,jdbcType=TINYINT},
      </if>
      <if test="pkad.takeCardSeq != null" >
        #{pkad.takeCardSeq,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updatePkad">
    update pkad${tableNo}
    <set>
      <if test="pkad.pkadId != null" >
        pkad_id = #{pkad.pkadId,jdbcType=VARCHAR},
      </if>
      <if test="pkad.membId != null" >
        memb_id = #{pkad.membId,jdbcType=VARCHAR},
      </if>
      <if test="pkad.membGradeF!= null" >
        memb_grade_f=#{pkad.membGradeF,jdbcType=VARCHAR},
      </if>
      <if test="pkad.pkadType != null" >
        pkad_type = #{pkad.pkadType,jdbcType=CHAR},
      </if>
      <if test="pkad.mrstUi != null" >
        mrst_ui = #{pkad.mrstUi,jdbcType=CHAR},
      </if>
      <if test="pkad.mrstUiName != null" >
        mrst_uiname = #{pkad.mrstUiName,jdbcType=CHAR},
      </if>
      <if test="pkad.ddPkad != null" >
        d_pkad = #{pkad.ddPkad,jdbcType=VARCHAR},
      </if>
      <if test="pkad.isTake != null" >
        is_take = #{pkad.isTake,jdbcType=TINYINT},
      </if>
      <if test="pkad.isRecharge != null" >
        is_recharge = #{pkad.isRecharge,jdbcType=TINYINT},
      </if>
       <if test="pkad.isOpen != null" >
        is_open = #{pkad.isOpen,jdbcType=TINYINT},
      </if>
      <if test="pkad.ddTake != null" >
        d_take = #{pkad.ddTake,jdbcType=VARCHAR},
      </if>
      <if test="pkad.ddTakeF != null" >
        d_take_f = #{pkad.ddTakeF,jdbcType=VARCHAR},
      </if>
      <if test="pkad.ddTakeT != null" >
        d_take_t = #{pkad.ddTakeT,jdbcType=VARCHAR},
      </if>
      <if test="pkad.pkadCnt != null" >
        pkad_cnt = #{pkad.pkadCnt,jdbcType=INTEGER},
      </if>
      <if test="pkad.growthInfo != null" >
        growth_info = #{pkad.growthInfo,jdbcType=VARCHAR},
      </if>
      <if test="pkad.pointInfo != null" >
        point_info = #{pkad.pointInfo,jdbcType=VARCHAR},
      </if>
      <if test="pkad.cardInfo != null" >
        card_info = #{pkad.cardInfo,jdbcType=VARCHAR},
      </if>
      <if test="pkad.mrclNo != null" >
        mrcl_no = #{pkad.mrclNo,jdbcType=VARCHAR},
      </if>
      <if test="pkad.isCancel != null" >
        is_cancel=#{pkad.isCancel,jdbcType=TINYINT},
      </if>
      <if test="pkad.takeCardSeq != null" >
        take_card_seq = #{pkad.takeCardSeq,jdbcType=VARCHAR}
      </if>
    </set>
    where pkad_seq = #{pkad.pkadSeq,jdbcType=INTEGER}
  </update>

  <select id="getTakeCardNoByMembId" resultType="java.lang.String" >
    select take_card_seq
    from pkad${tableNo}
    where is_take=1 and memb_id = #{membId,jdbcType=VARCHAR}
  </select>

  <select id="getTakenC3Between" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from pkad${tableNo} where is_take='1' and card_info like '%"mrdf_type":"C3"%' and unix_timestamp( d_take ) between  unix_timestamp(#{startTime})  and unix_timestamp(#{endTime})
  </select> <select id="getNoTakenPkads" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from pkad${tableNo} where is_take='0' and is_cancel='0' and card_info!='' and d_take_t>=#{today}
  </select></mapper>