<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feiniu.score.mapper.growth.GrowthMainMapper" >
  <resultMap id="GrowthMain" type="com.feiniu.score.entity.growth.GrowthMain" >
    <id column="gm_seq" property="gmSeq" jdbcType="BIGINT" />
    <result column="mem_guid" property="memGuid" jdbcType="VARCHAR" />
    <result column="growth_value" property="growthValue" jdbcType="INTEGER" />
    <result column="effective_date" property="effectiveDate" jdbcType="DATE" />
    <result column="expiry_date" property="expiryDate" jdbcType="DATE" />
    <result column="mem_level" property="memLevel" jdbcType="VARCHAR" />
    <result column="ins_date" property="insDate" jdbcType="TIMESTAMP" />
    <result column="ins_man" property="insMan" jdbcType="VARCHAR" />
    <result column="upd_date" property="updDate" jdbcType="TIMESTAMP" />
    <result column="upd_man" property="updMan" jdbcType="VARCHAR" />
    <result column="level_change_date" property="levelChangeDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    gm_seq, mem_guid, growth_value, effective_date, expiry_date, mem_level, ins_date, 
    ins_man, upd_date, upd_man, level_change_date
  </sql>
  <select id="getGrowthMainById" resultMap="GrowthMain">
    select 
    <include refid="Base_Column_List" />
    from growth_main${tableNo}
    where gm_seq = #{gmSeq}
  </select>
  
  <select id="getGrowthMainCount" resultType="Integer">
	select count(1) 
   	from growth_main${tableNo}
  </select>
  
  <select id="getGrowthMainListBymemGuid" resultMap="GrowthMain">
    select 
    <include refid="Base_Column_List" />
    from growth_main${tableNo}
    where mem_guid = #{memGuid}
    <if test="paramMap.start!= null and paramMap.pageSize!=null">
    limit #{paramMap.start},#{paramMap.pageSize}
    </if>
  </select>

  <select id="getGrowthMainByMemGuid" resultMap="GrowthMain">
    select
    <include refid="Base_Column_List" />
    from growth_main${tableNo}
    where mem_guid = #{memGuid}
  </select>


   <select id="getValueBymemGuid"  resultType="Integer">
    select growth_value
    from growth_main${tableNo}
    where mem_guid = #{memGuid}
  </select>
  
  <select id="getCountLessThanMyGrowthValue" resultType="Integer">
	select count(1) 
   	from growth_main${tableNo}
   	<![CDATA[ where growth_value<#{myGrowthValue} ]]>    
  </select>
  
  
  <select id="getGrowthMainListCountBymemGuid" resultType="Integer">
	select count(1) 
	<include refid="Base_Column_List" />
   	from growth_main${tableNo}
   	where mem_guid = #{memGuid}
  </select>

  
  <delete id="deleteGrowthMainById" parameterType="java.lang.Long" >
    delete from growth_main${tableNo}
    where gm_seq = #{gmSeq,jdbcType=BIGINT}
  </delete>
  
  	<update id="changeGrowthValue">
		UPDATE growth_main${tableNo} 
		   SET growth_value = growth_value + #{changedGrowthValue} ,
		       upd_date = now()
		 WHERE mem_guid = #{memGuid}
	</update>
  
  <insert id="saveGrowthMain" useGeneratedKeys="true" keyProperty="gm.gmSeq">
    insert into growth_main${tableNo}
    <trim prefix="(" suffix=")" suffixOverrides="," >
        mem_guid,
      <if test="gm.growthValue != null" >
        growth_value,
      </if>
        effective_date,
        expiry_date,
      <if test="gm.memLevel != null" >
        mem_level,
      </if>
      <if test="gm.insDate != null" >
        ins_date,
      </if>
      <if test="gm.insMan != null" >
        ins_man,
      </if>
      <if test="gm.updDate != null" >
        upd_date,
      </if>
      <if test="gm.updMan != null" >
        upd_man,
      </if>
      <if test="gm.levelChangeDate != null" >
        level_change_date
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{gm.memGuid,jdbcType=VARCHAR},
      <if test="gm.growthValue != null" >
        #{gm.growthValue,jdbcType=INTEGER},
      </if>
      <choose>
        	<when test="gm.effectiveDate == null">curdate(),</when>
        	<otherwise>#{gm.effectiveDate},</otherwise>
      </choose>
      <choose>
        	<when test="gm.expiryDate == null">'2999-12-31 00:00:00',</when>
        	<otherwise>#{gm.expiryDate},</otherwise>
      </choose>
      <if test="gm.memLevel != null" >
        #{gm.memLevel,jdbcType=VARCHAR},
      </if>
      <if test="gm.insDate != null" >
        #{gm.insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gm.insMan != null" >
        #{gm.insMan,jdbcType=VARCHAR},
      </if>
      <if test="gm.updDate != null" >
        #{gm.updDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gm.updMan != null" >
        #{gm.updMan,jdbcType=VARCHAR},
      </if>
      <if test="gm.levelChangeDate != null" >
        #{gm.levelChangeDate,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </insert>
  
  <update id="updateGrowthMain">
    update growth_main${tableNo}
    <set >
      <if test="gm.growthValue != null and gm.changedGrowthValue==null" >
        growth_value = #{gm.growthValue,jdbcType=INTEGER},
      </if>
      <if test="gm.changedGrowthValue != null" >
        growth_value = growth_value + #{gm.changedGrowthValue,jdbcType=INTEGER},
      </if>
      <if test="gm.effectiveDate != null" >
        effective_date = #{gm.effectiveDate,jdbcType=DATE},
      </if>
      <if test="gm.expiryDate != null" >
        expiry_date = #{gm.expiryDate,jdbcType=DATE},
      </if>
      <if test="gm.memLevel != null" >
        mem_level = #{gm.memLevel,jdbcType=VARCHAR},
      </if>
      <if test="gm.insDate != null" >
        ins_date = #{gm.insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gm.insMan != null" >
        ins_man = #{gm.insMan,jdbcType=VARCHAR},
      </if>
      <if test="gm.updDate != null" >
        upd_date = #{gm.updDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gm.updMan != null" >
        upd_man = #{gm.updMan,jdbcType=VARCHAR},
      </if>
      <if test="gm.levelChangeDate != null" >
        level_change_date=#{gm.levelChangeDate,jdbcType=TIMESTAMP}
      </if>
    </set>
    where gm_seq = #{gm.gmSeq} 
  </update>

  <select id="getGrowthMainListForUpdate" resultMap="GrowthMain">
    select
    <include refid="Base_Column_List" />
    from growth_main${tableNo}
    limit #{paramMap.start},#{paramMap.size}
    FOR  UPDATE
  </select>


  <select id="getGrowthMainByIdForUpdate" resultMap="GrowthMain">
    select
    <include refid="Base_Column_List" />
    from growth_main${tableNo}
    where  mem_guid = #{memGuid}
    FOR  UPDATE
  </select>

</mapper>