<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feiniu.score.mapper.growth.GrowthOrderInfoMapper" >
 
  <sql id="Base_Column_List" >
    goi_seq, mem_guid, og_no, og_seq, adr_id, ol_seq, it_no,sm_seq,rg_seq, rl_seq, 
    package_no,og_qty,return_qty,return_pay , real_pay,price,comment_seq, comment_with_pic,remark, kind , ogs_seq , fdl_seq ,
    pay_status , pay_date , ins_man, ins_date, upd_man, upd_date
  </sql>
  
  <select id="getOrderInfoById" resultMap="BaseResultMap" >
	    select 
	    <include refid="Base_Column_List" />
	    from growth_order_info${tableNo}
	    where goi_seq = #{goiSeq,jdbcType=BIGINT}
  </select>
  
  
   <select id="findOrderByOgSeq" resultMap="BaseResultMap" >
	    select <include refid="Base_Column_List" />
	    from growth_order_info${tableNo}
	    where og_seq = #{ogSeq,jdbcType=VARCHAR}
  </select>
  
  
<!--   <select id="getOrderInfoListByMemGuid" resultMap="BaseResultMap" > -->
<!--     select  -->
<!--     <include refid="Base_Column_List" /> -->
<!--     from growth_order_info${tableNo} -->
<!--     where mem_guid = #{memGuid} -->
<!--     limit #{paramMap.start},#{paramMap.pageSize} -->
<!--   </select> -->
  
<!--   <select id="getOrderInfoCountByMemGuid" resultMap="BaseResultMap" > -->
<!--     select  -->
<!--     count(1) -->
<!--     from growth_order_info${tableNo} -->
<!--     where mem_guid = #{memGuid} -->
<!--     limit #{paramMap.start},#{paramMap.pageSize} -->
<!--   </select> -->
  
  <sql id="commonSelectSql">
		from growth_order_info${tableNo}  where 1=1
		
		<if test="paramMap.memGuid != null">
			and mem_guid=#{paramMap.memGuid}  
		</if>
		
		<if test="paramMap.ogNo != null">
			and og_no=#{paramMap.ogNo}    
		</if>
		<if test="paramMap.ogSeq != null">
			and og_seq=#{paramMap.ogSeq}    
		</if>
		 
		<if test="paramMap.adrId != null">
			and adr_id =#{paramMap.adrId}    
		</if>
		
		<if test="paramMap.olSeq != null">
			and ol_seq =#{paramMap.olSeq}    
		</if>
		
		<if test="paramMap.rgSeq != null">
			and rg_seq =#{paramMap.rgSeq}    
		</if>
        <if test="paramMap.itNo != null">
          and it_no =#{paramMap.itNo}
        </if>
		<if test="paramMap.packageNo != null">
			and package_no=#{paramMap.packageNo}    
		</if>
		<if test="paramMap.commentSeq != null">
			and comment_seq =#{paramMap.commentSeq}    
		</if>
		<if test="paramMap.commentWithPic != null">
			and comment_with_pic =#{paramMap.commentWithPic}    
		</if>
		<if test="paramMap.payStatus != null">
			and pay_status =#{paramMap.payStatus}    
		</if>
		<if test="paramMap.growthPayDate != null">
			and pay_date &lt;date_format(date_add(#{paramMap.growthPayDate}, interval 1 day),'%Y-%m-%d')
		</if>
		
		<if test="paramMap.payDate != null">
			and to_days(pay_date) =to_days(#{paramMap.payDate})    
		</if>
		<if test="paramMap.kind != null">
			and kind =#{paramMap.kind}    
		</if>
		<if test="paramMap.ogsSeq != null">
			and ogs_seq=#{paramMap.ogsSeq}    
		</if>
		<if test="paramMap.fdlSeq != null">
			and fdl_seq =#{paramMap.fdlSeq}    
		</if>
		<if test="paramMap.startDate!= null and paramMap.endDate!=null">
			<![CDATA[ 
			and Date(ins_date) <=Date(#{paramMap.endDate})  
			and Date(ins_date) >=Date(#{paramMap.startDate})
			 ]]>
		</if>
	</sql>
	
	<select id="getOrderInfoListBySelective" resultMap="BaseResultMap">
	select 
	 	<include refid="Base_Column_List" />
	  	<include refid="commonSelectSql" />
	  	<if test="paramMap.order != null"> 
		 order by #{paramMap.order}
		</if>
	  	<if test="paramMap.start != null and paramMap.pageSize!=null"> 
		limit #{paramMap.start},#{paramMap.pageSize}
		</if>
   </select>
   
   <select id="getOrderInfoCountBySelective" resultType="Integer">
	select 
	 	count(1)
	  	<include refid="commonSelectSql" />
   </select>
   
   <select id="getOrderPaySum" resultType="DECIMAL">
	select 
	 	sum(real_pay)
	from growth_order_info${tableNo}
	where 1=1
	<if test="paramMap.memGuid != null">
		and mem_guid=#{paramMap.memGuid}  
	</if>
	<if test="paramMap.ogSeq!= null">
		and og_seq =#{paramMap.ogSeq}    
	</if>
	<if test="paramMap.ogNo!= null">
		and og_no =#{paramMap.ogNo}    
	</if>	
   </select>
   
   <select id="findOrderListByMap" resultMap="BaseResultMap">
	select 
	 	<include refid="Base_Column_List" /> 
	  	<include refid="commonSelectSql" /> 
   </select>
   
   <select id="findOrderListByOlSeqList" resultMap="BaseResultMap">
	select 
	 	<include refid="Base_Column_List" /> 
	from growth_order_info${tableNo} 
	where 1=1 and pay_status in(2,3)
	<if test="ogSeq!= null">
		and og_seq =#{ogSeq}    
	</if>
	<if test="olSeqSet != null and olSeqSet.size() > 0">
		and ol_seq in
		<foreach collection="olSeqSet" index="" open="("  close=")" item="olSeq" separator="," >
	        	#{olSeq}
	    </foreach> 
	</if>
   </select>
   
  <select id="findOrderListByOgsSeq" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from growth_order_info${tableNo}  where 1=1
    and mem_guid=#{paramMap.memGuid}
    and og_seq= any (select og_seq from growth_order_info${tableNo} where ogs_seq= #{paramMap.ogsSeq})
  </select>
  
<!--   <delete id="deleteOrderInfoById" > -->
<!--     delete from growth_order_info${tableNo} -->
<!--     where goi_seq = #{goiSeq,jdbcType=BIGINT} -->
<!--   </delete> -->
  
  
  <insert id="saveOrderInfo" useGeneratedKeys="true" keyProperty="oi.goiSeq">
    insert into growth_order_info${tableNo}
    <trim prefix="(" suffix=")" suffixOverrides="," >
        mem_guid,
      <if test="oi.ogNo != null" >
        og_no,
      </if>
      <if test="oi.ogSeq != null" >
        og_seq,
      </if>
      <if test="oi.adrId != null" >
        adr_id,
      </if>
      <if test="oi.olSeq != null" >
        ol_seq,
      </if>
      <if test="oi.itNo != null" >
        it_no,
      </if>
      <if test="oi.smSeq != null" >
        sm_seq,
      </if>
      <if test="oi.rgSeq != null" >
        rg_seq,
      </if>
      <if test="oi.rlSeq != null" >
        rl_seq,
      </if>
      <if test="oi.packageNo != null" >
        package_no,
      </if>
      <if test="oi.ogQty != null" >
        og_qty,
      </if>
      <if test="oi.returnQty != null" >
        return_qty,
      </if>
      <if test="oi.realPay != null" >
        real_pay,
      </if>
      <if test="oi.price != null" >
        price,
      </if>
      <if test="oi.returnPay != null" >
      	return_pay,
      </if>
      <if test="oi.commentSeq != null" >
        comment_seq,
      </if>
      <if test="oi.commentWithPic != null" >
        comment_with_pic,
      </if>
      <if test="oi.remark != null" >
        remark,
      </if>
	<if test="oi.payStatus!= null">
		pay_status,
	</if>
	<if test="oi.payDate != null">
		pay_date,
	</if>
	<if test="oi.insMan != null">
		ins_man,
	</if>
      <if test="oi.insDate != null" >
        ins_date,
      </if>
      <if test="oi.updMan != null" >
        upd_man,
      </if>
      <if test="oi.updDate != null" >
        upd_date,
      </if>
       <if test="oi.ogsSeq != null" >
        ogs_seq ,
      </if>
      <if test="oi.kind != null" >
        kind ,
      </if>
      <if test="oi.fdlSeq != null" >
        fdl_seq ,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{oi.memGuid,jdbcType=VARCHAR},
      <if test="oi.ogNo != null" >
        #{oi.ogNo,jdbcType=VARCHAR},
      </if>
      <if test="oi.ogSeq != null" >
        #{oi.ogSeq,jdbcType=VARCHAR},
      </if>
      <if test="oi.adrId != null" >
        #{oi.adrId,jdbcType=VARCHAR},
      </if>
      <if test="oi.olSeq != null" >
        #{oi.olSeq,jdbcType=VARCHAR},
      </if>
      <if test="oi.itNo != null" >
        #{oi.itNo,jdbcType=VARCHAR},
      </if>
      <if test="oi.smSeq != null" >
       #{oi.smSeq,jdbcType=VARCHAR},
      </if>
      <if test="oi.rgSeq != null" >
        #{oi.rgSeq,jdbcType=VARCHAR},
      </if>
      <if test="oi.rlSeq != null" >
        #{oi.rlSeq,jdbcType=VARCHAR},
      </if>
      <if test="oi.packageNo != null" >
        #{oi.packageNo,jdbcType=VARCHAR},
      </if>
      <if test="oi.ogQty != null" >
        #{oi.ogQty,jdbcType=INTEGER},
      </if>
      <if test="oi.returnQty != null" >
        #{oi.returnQty,jdbcType=INTEGER},
      </if>
      <if test="oi.realPay != null" >
        #{oi.realPay,jdbcType=DECIMAL},
      </if>
      <if test="oi.price != null" >
        #{oi.price,jdbcType=DECIMAL},
      </if>
      <if test="oi.returnPay != null" >
        #{oi.returnPay,jdbcType=DECIMAL},
      </if>
      <if test="oi.commentSeq != null" >
        #{oi.commentSeq,jdbcType=VARCHAR},
      </if>
      <if test="oi.commentWithPic != null" >
         #{oi.commentWithPic,jdbcType=INTEGER},
      </if>
      <if test="oi.remark != null" >
        #{oi.remark,jdbcType=VARCHAR},
      </if>
		<if test="oi.payStatus!= null">
			#{oi.payStatus,jdbcType=INTEGER},  
		</if>
		<if test="oi.payDate != null">
			#{oi.payDate,jdbcType=TIMESTAMP},   
		</if>
      <if test="oi.insMan != null" >
        #{oi.insMan,jdbcType=VARCHAR},
      </if>
      <if test="oi.insDate != null" >
        #{oi.insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="oi.updMan != null" >
        #{oi.updMan,jdbcType=VARCHAR},
      </if>
      <if test="oi.updDate != null" >
        #{oi.updDate,jdbcType=TIMESTAMP},
      </if>
      
       <if test="oi.ogsSeq != null" >
       #{oi.ogsSeq,jdbcType=VARCHAR}, 
      </if>
      <if test="oi.kind != null" >
         #{oi.kind,jdbcType=VARCHAR}, 
      </if>
      <if test="oi.fdlSeq != null" >
         #{oi.fdlSeq,jdbcType=VARCHAR}, 
      </if>
      
    </trim>
  </insert>
  
  <update id="updateOrderInfo" >
    update growth_order_info${tableNo}
    <set >
      <if test="oi.ogNo != null" >
        og_no = #{oi.ogNo,jdbcType=VARCHAR},
      </if>
      <if test="oi.ogSeq != null" >
        og_seq = #{oi.ogSeq,jdbcType=VARCHAR},
      </if>
      <if test="oi.adrId != null" >
        adr_id = #{oi.adrId,jdbcType=VARCHAR},
      </if>
      <if test="oi.olSeq != null" >
        ol_seq = #{oi.olSeq,jdbcType=VARCHAR},
      </if>
      <if test="oi.itNo != null" >
        it_no = #{oi.itNo,jdbcType=VARCHAR},
      </if>
      <if test="oi.smSeq != null" >
        sm_seq = #{oi.smSeq,jdbcType=VARCHAR},
      </if>
      <if test="oi.packageNo != null" >
        package_no=#{oi.packageNo,jdbcType=VARCHAR},
      </if>
      <if test="oi.ogQty != null" >
       og_qty= #{oi.ogQty,jdbcType=INTEGER},
      </if>
      <if test="oi.returnQty != null" >
        return_qty=#{oi.returnQty,jdbcType=INTEGER},
      </if>
      <if test="oi.realPay != null" >
        real_pay=#{oi.realPay,jdbcType=DECIMAL},
      </if>
      <if test="oi.price != null" >
        price=#{oi.price,jdbcType=DECIMAL},
      </if>
      <if test="oi.returnPay != null" >
      	return_pay=#{oi.returnPay,jdbcType=DECIMAL},
      </if>
      <if test="oi.rgSeq != null" >
        rg_seq = #{oi.rgSeq,jdbcType=VARCHAR},
      </if>
      <if test="oi.rlSeq != null" >
        rl_seq = #{oi.rlSeq,jdbcType=VARCHAR},
      </if>
      <if test="oi.commentSeq != null" >
        comment_seq = #{oi.commentSeq,jdbcType=VARCHAR},
      </if>
      <if test="oi.commentWithPic != null" >
        comment_with_pic = #{oi.commentWithPic,jdbcType=INTEGER},
      </if>
      <if test="oi.remark != null" >
        remark = #{oi.remark,jdbcType=VARCHAR},
      </if>
		<if test="oi.payStatus!= null">
			pay_status =#{oi.payStatus,jdbcType=INTEGER},     
		</if>
		<if test="oi.payDate != null">
			pay_date =#{oi.payDate,jdbcType=TIMESTAMP},   
		</if>
      <if test="oi.insMan != null" >
        ins_man = #{oi.insMan,jdbcType=VARCHAR},
      </if>
      <if test="oi.insDate != null" >
        ins_date = #{oi.insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="oi.updMan != null" >
        upd_man = #{oi.updMan,jdbcType=VARCHAR},
      </if>
      <if test="oi.updDate != null" >
        upd_date = #{oi.updDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where goi_seq = #{oi.goiSeq,jdbcType=BIGINT}
  </update>


  <select id="getCountOfEffectiveOrder" resultType="Integer">
    SELECT COUNT(1) FROM growth_order_info${tableNo}
    WHERE mem_guid=#{memGuid}
     AND pay_status IN(2,3)
  </select>
  
  
   <resultMap id="BaseResultMap" type="com.feiniu.score.entity.growth.GrowthOrderInfo" >
	    <id column="goi_seq" property="goiSeq" jdbcType="BIGINT" />
	    <result column="mem_guid" property="memGuid" jdbcType="VARCHAR" />
	    <result column="og_no" property="ogNo" jdbcType="VARCHAR" />
	    <result column="og_seq" property="ogSeq" jdbcType="VARCHAR" />
	    <result column="adr_id" property="adrId" jdbcType="VARCHAR" />
	    <result column="ol_seq" property="olSeq" jdbcType="VARCHAR" />
	    <result column="it_no" property="itNo" jdbcType="VARCHAR" />
	    <result column="sm_seq" property="smSeq" jdbcType="VARCHAR" />
	    <result column="package_no" property="packageNo" jdbcType="VARCHAR" />
	    <result column="og_qty" property="ogQty" jdbcType="INTEGER" />
	    <result column="return_qty" property="returnQty" jdbcType="INTEGER" />
	    <result column="return_pay" property="returnPay" jdbcType="DECIMAL" />
	    <result column="real_pay" property="realPay" jdbcType="DECIMAL" />
        <result column="price" property="price" jdbcType="DECIMAL" />
	    <result column="rg_seq" property="rgSeq" jdbcType="VARCHAR" />
	    <result column="rl_seq" property="rlSeq" jdbcType="VARCHAR" />
	    <result column="comment_seq" property="commentSeq" jdbcType="VARCHAR" />
	    <result column="comment_with_pic" property="commentWithPic" jdbcType="TINYINT" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />
	    <result column="pay_status" property="payStatus" jdbcType="TINYINT" />
	    <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
	    <result column="ins_man" property="insMan" jdbcType="VARCHAR" />
	    <result column="ins_date" property="insDate" jdbcType="TIMESTAMP" />
	    <result column="upd_man" property="updMan" jdbcType="VARCHAR" />
	    <result column="upd_date" property="updDate" jdbcType="TIMESTAMP" />
	    <result column="kind" property="kind" jdbcType="VARCHAR" />
	    <result column="ogs_seq" property="ogsSeq" jdbcType="VARCHAR" />
	    <result column="fdl_seq" property="fdlSeq" jdbcType="VARCHAR" />
  </resultMap>
  
  
</mapper>