<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feiniu.score.mapper.growth.GrowthValueNumMapper" >
  <resultMap id="BaseResultMap" type="com.feiniu.score.entity.growth.GrowthValueNum" >
    <id column="gvn_seq" property="gvnSeq" jdbcType="BIGINT" />
    <result column="value" property="value" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    gvn_seq, value, num ,version
  </sql>
  <select id="selectGrowthValueNumById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from growth_value_num
    where gvn_seq = #{gvnSeq,jdbcType=BIGINT}
  </select>
  
   <select id="getGrowthValueNumSum" resultType="Integer">
	select SUM(num)
   	from growth_value_num
  </select>
  
   <select id="getGrowthValueNumSumLessThanValue" resultType="Integer">
    select SUM(num)
    from growth_value_num
    <![CDATA[ where value < #{value,jdbcType=INTEGER}]]>
  </select>
  
  <select id="selectGrowthValueNumByValue" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from growth_value_num
    where value = #{value,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteGrowthValueNumById" parameterType="java.lang.Long" >
    delete from growth_value_num
    where gvn_seq = #{gvnSeq,jdbcType=BIGINT}
  </delete>
  
  <insert id="saveGrowthValueNum" parameterType="com.feiniu.score.entity.growth.GrowthValueNum" >
    insert into growth_value_num (value, num
      )
    values (#{gvn.value,jdbcType=INTEGER}, #{gvn.num,jdbcType=INTEGER}
      )
  </insert>
  
  <update id="updateGrowthValueNum" parameterType="com.feiniu.score.entity.growth.GrowthValueNum" >
    update growth_value_num
    set num = #{gvn.num,jdbcType=INTEGER}
    where gvn_seq = #{gvn.gvnSeq,jdbcType=BIGINT}
  </update>
  
  <update id="changeGrowthValueNum">
    update growth_value_num
    set num = num + #{changeNum,jdbcType=INTEGER}
    where gvn_seq = #{gvnSeq,jdbcType=BIGINT}
    and num + #{changeNum,jdbcType=INTEGER}>=0
  </update>
</mapper>