<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath*:application.properties"/>
	<import resource="classpath:applicationContext-score-impl.xml"/>
	<bean id="consumerClient" class="com.feiniu.kafka.client.ConsumerClient" destroy-method="close">
		<constructor-arg index="0" value="${zookeeper.connect}" />
		<constructor-arg index="1" value="${fn.group.order.score.id}" />
		<constructor-arg index="2">
			<props>
				<prop key="zookeeper.connection.timeout.ms">${zookeeper.connection.timeout.ms}</prop>
				<prop key="auto.offset.reset">${auto.offset.reset}</prop>
			</props>
		</constructor-arg>
		<constructor-arg index="3" value="${fn.topic.order.score}" />
		<constructor-arg index="4" ref="orderScoreHandler" />
	</bean>
	<bean id="orderScoreHandler" class="com.feiniu.score.handler.OrderScoreHandler" />
	<!-- 成长值消息消费端口  -->
	<bean id="growthConsumerClient" class="com.feiniu.kafka.client.ConsumerClient" destroy-method="close">
		<constructor-arg index="0" value="${zookeeper.connect}" />
		<constructor-arg index="1" value="${fn.group.order.score.id}" />
		<constructor-arg index="2">
			<props>
				<prop key="zookeeper.connection.timeout.ms">${zookeeper.connection.timeout.ms}</prop>
				<prop key="auto.offset.reset">${auto.offset.reset}</prop>
			</props>
		</constructor-arg>
		<constructor-arg index="3" value="${fn.topic.score.growth}" />
		<constructor-arg index="4" ref="growthHandler" />
	</bean>
    <bean id="growthHandler" class="com.feiniu.score.handler.GrowthHandler" /> 
    <!-- 等级消息消费端 -->
    <bean id="gradeConsumerClient" class="com.feiniu.kafka.client.ConsumerClient" destroy-method="close">
		<constructor-arg index="0" value="${zookeeper.connect}" />
		<constructor-arg index="1" value="${fn.group.order.score.id}" />
		<constructor-arg index="2">
			<props>
				<prop key="zookeeper.connection.timeout.ms">${zookeeper.connection.timeout.ms}</prop>
				<prop key="auto.offset.reset">${auto.offset.reset}</prop>
			</props>
		</constructor-arg>
		<constructor-arg index="3" value="${fn.topic.score.grade}" />
		<constructor-arg index="4" ref="gradeHandler" />
	</bean>
    <bean id="gradeHandler" class="com.feiniu.score.handler.GradeHandler" /> 
     

	<!-- 取消订单监听消费-->
    <bean id="cancelMallOrderConsumerClient" class="com.feiniu.kafka.client.ConsumerClient" destroy-method="close">
		<constructor-arg index="0" value="${zookeeper.connect}" />
		<constructor-arg index="1" value="${fn.group.order.score.id}" />
		<constructor-arg index="2">
			<props>
				<prop key="zookeeper.connection.timeout.ms">${zookeeper.connection.timeout.ms}</prop>
				<prop key="auto.offset.reset">${auto.offset.reset}</prop>
			</props>
		</constructor-arg>
		<constructor-arg index="3" value="${fn.topic.order_cancel}" />
		<constructor-arg index="4" ref="cancelMallOrderHandler" />
	</bean>
	<bean id="cancelMallOrderHandler" class="com.feiniu.score.handler.CancelMallOrderHandler"/>

	<!-- 退货确认监听消费-->
	<bean id="returnOrderConfirmConsumerClient" class="com.feiniu.kafka.client.ConsumerClient" destroy-method="close">
		<constructor-arg index="0" value="${zookeeper.connect}" />
		<constructor-arg index="1" value="${fn.group.order.score.id}" />
		<constructor-arg index="2">
			<props>
				<prop key="zookeeper.connection.timeout.ms">${zookeeper.connection.timeout.ms}</prop>
				<prop key="auto.offset.reset">${auto.offset.reset}</prop>
			</props>
		</constructor-arg>
		<constructor-arg index="3" value="${fn.topic.order_refund}" />
		<constructor-arg index="4" ref="returnOrderConfirmHandler" />
	</bean>
	<bean id="returnOrderConfirmHandler" class="com.feiniu.score.handler.ReturnOrderConfirmHanderl"/>
	
	<!-- 收货确认监听消费-->
	<bean id="growthReceiveOrderConsumerClient" class="com.feiniu.kafka.client.ConsumerClient" destroy-method="close">
		<constructor-arg index="0" value="${zookeeper.connect}" />
		<constructor-arg index="1" value="${fn.group.order.score.id}" />
		<constructor-arg index="2">
			<props>
				<prop key="zookeeper.connection.timeout.ms">${zookeeper.connection.timeout.ms}</prop>
				<prop key="auto.offset.reset">${auto.offset.reset}</prop>
			</props>
		</constructor-arg>
		<constructor-arg index="3" value="${fn.topic.growth.order.receive}" />
		<constructor-arg index="4" ref="growthReceiveOrderHandler" />
	</bean>
	<bean id="growthReceiveOrderHandler" class="com.feiniu.score.handler.GrowthReceiveOrderHandler"/>

	<!-- 登录监听消费-->
	<bean id="growthMemLoginServiceConsumerClient" class="com.feiniu.kafka.client.ConsumerClient" destroy-method="close">
		<constructor-arg index="0" value="${zookeeper.connect}" />
		<constructor-arg index="1" value="${fn.group.order.score.id}" />
		<constructor-arg index="2">
			<props>
				<prop key="zookeeper.connection.timeout.ms">${zookeeper.connection.timeout.ms}</prop>
				<prop key="auto.offset.reset">${auto.offset.reset}</prop>
			</props>
		</constructor-arg>
		<constructor-arg index="3" value="${fn.topic.growth.mem.login}" />
		<constructor-arg index="4" ref="growthMemLoginHandler" />
	</bean>
	<bean id="growthMemLoginHandler" class="com.feiniu.score.handler.GrowthMemLoginHandler"/>

</beans>