<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 收藏夹 -->
<mapper namespace="com.feiniu.favorite.mapper.FavoriteMapper">

    <resultMap type="com.feiniu.favorite.entity.FavoriteEntity" id="favorite">
        <id property="id" column="id"/>
        <result property="memGuid" column="mem_guid"/>
        <result property="favoriteSeq" column="favorite_seq"/>
        <result property="favoriteSku" column="favorite_sku"/>
        <result property="favoriteSpu" column="favorite_spu"/>
        <result property="type" column="type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="active" column="active"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="seqKind" column="seq_kind"/>
        <result property="kindId" column="kind_id"/>
        <result property="kindName" column="kind_name"/>
        <result property="isCrossborder" column="is_crossborder"/>
        <result property="price" column="price"/>
        <result property="channel" column="channel"/>
        <result property="remark" column="remark"/>
        <result property="guidSeqActive" column="guid_seq_active"/>
    </resultMap>

    <resultMap type="com.feiniu.favorite.entity.FavoriteIdList" id="idList">
        <id property="id" column="id"/>
        <result property="memGuid" column="mem_guid"/>
        <result property="favoriteSeq" column="favorite_seq"/>
        <result property="favoriteSku" column="favorite_sku"/>
        <result property="favoriteSpu" column="favorite_spu"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="type" column="type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="active" column="active"/>
        <result property="remark" column="remark"/>
        <result property="seqKind" column="seq_kind"/>
        <result property="kindId" column="kind_id"/>
        <result property="kindName" column="kind_name"/>
    </resultMap>

    <resultMap type="com.feiniu.favorite.entity.FavoriteSumVO" id="favoriteSumVO">
        <result property="smSeq" column="smSeq"/>
        <result property="totalNum" column="totalNum"/>
        <result property="time" column="time"/>
    </resultMap>

    <!-- 根据MemGuid和Type和FavoriteId查询信息 -->
    <select id="queryByMemGuidAndTypeAndFavoriteSkuId" resultMap="favorite">
	    select  id,mem_guid,favorite_sku,type,merchant_id,seq_kind,kind_id,kind_name,is_crossborder,price
		from favorite 
		where active = 1
		and mem_guid = #{memGuid}
		and	favorite_sku = #{favoriteSku} 
	</select>

    <!-- 根据MemGuid和Type和FavoriteId查询信息 -->
    <select id="countByTypeAndMemGuid" resultType="java.lang.Integer">
        select count(1)
        from favorite
        <where>
            active = 1
            and mem_guid = #{memGuid}
            <choose>
                <when test="type == 3">
                    and type in (0,1)
                </when>
                <otherwise>
                    and type = #{type}
                </otherwise>
            </choose>
        </where>
    </select>

    <!-- 保存商品或店铺到收藏夹 -->
    <insert id="saveEntityBySkuId" parameterType="com.feiniu.favorite.entity.FavoriteEntity">
		insert into favorite
		(mem_guid,favorite_seq,favorite_sku,favorite_spu,type,create_time,update_time,
		active,remark,merchant_id,seq_kind, kind_id,kind_name,
		is_crossborder,guid_seq_active,price,channel)
		values
		(#{memGuid},#{favoriteSeq},#{favoriteSku},#{favoriteSpu},#{type},now(),now(),
		1,"",#{merchantId},#{seqKind},#{kindId},#{kindName},
		#{isCrossborder},#{guidSeqActive},#{price},#{channel})
	</insert>

    <!-- 查询收藏夹 -->
    <select id="query" parameterType="com.feiniu.favorite.vo.QueryVo" resultMap="favorite">
        select
        id,mem_guid,favorite_seq,favorite_sku,favorite_spu,create_time,type,seq_kind,kind_id,kind_name,is_crossborder,price,channel,merchant_id
        from favorite
        <where>
            favorite_sku!=''
            <if test="memGuid != null and memGuid !=''">
                and mem_guid = #{memGuid}
            </if>
            <if test="isCrossborder == 0">
                and is_crossborder = 0
            </if>
            <if test="favoriteSeq != null and favoriteSeq !=''">
                and favorite_seq = #{favoriteSeq}
            </if>
            <if test="favoriteSku != null and favoriteSku !=''">
                and favorite_sku = #{favoriteSku}
            </if>
            <if test="type != null and type !=''">
                <choose>
                    <when test="type == 3">
                        and type in (0,1)
                    </when>
                    <otherwise>
                        and type = #{type}
                    </otherwise>
                </choose>
            </if>
            <if test="active != null and active !=''">
                and active = #{active}
            </if>
            <if test="kindId != null and kindId !=''">
                and kind_id = #{kindId}
            </if>
            <if test="ids != null">
                and id in
                <foreach collection="ids" index="" open="(" close=")" item="c" separator=",">
                    #{c}
                </foreach>
            </if>
        </where>
        order by create_time desc
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>

    <!-- 查询商品或店铺ID列表 -->
    <select id="getIdList" parameterType="com.feiniu.favorite.vo.QueryVo" resultMap="idList">
        select id,mem_guid,merchant_id,favorite_seq,favorite_sku,type,seq_kind,kind_id,kind_name,is_crossborder from
        favorite
        <where>
            <if test="memGuid != null">
                mem_guid = #{memGuid}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            and active = true
        </where>
        order by merchant_id,create_time desc
    </select>

    <!-- 逻辑删除收藏的商品或店铺 -->
    <update id="delete" parameterType="com.feiniu.favorite.entity.FavoriteEntity">
        update favorite set active = false,guid_seq_active = null,update_time = NOW() where mem_guid = #{memGuid} and
        active = true and id in
        <foreach collection="favoriteIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 逻辑删除某个用户的所有收藏夹数据 -->
    <update id="deleteAllByMemGuid" parameterType="java.lang.String">
	    UPDATE favorite 
            SET active = FALSE,guid_seq_active = null,update_time = NOW() 
        WHERE mem_guid = #{memGuid} and type in (0,1)
	</update>

    <!-- 查询收藏夹中商品或店铺数量 -->
    <select id="count" parameterType="com.feiniu.favorite.vo.QueryVo" resultType="long">
        select count(1) from favorite
        <where>

            <if test="memGuid != null">
                mem_guid = #{memGuid}
            </if>
            <if test="isCrossborder == 0">
                and is_crossborder = 0
            </if>
            <choose>
                <when test="favoriteSku != null and favoriteSku !=''">
                    and favorite_sku = #{favoriteSku}
                </when>
                <when test="favoriteSeq != null and favoriteSeq !=''">
                    and favorite_sku = #{favoriteSeq}
                </when>
                <otherwise>
                    and favorite_sku!=''
                </otherwise>
            </choose>
            <if test="type != null">
                <choose>
                    <when test="type == 3">
                        and type in (0,1)
                    </when>
                    <otherwise>
                        and type = #{type}
                    </otherwise>
                </choose>
            </if>
            <if test="active != null">
                and active = #{active}
            </if>
            <if test="merchantId != null and  merchantId !=-1">
                and merchant_id = #{merchantId}
            </if>
            <if test="kindId != null">
                and kind_id = #{kindId}
            </if>
            <if test="ids != null">
                and id in
                <foreach collection="ids" index="" open="(" close=")" item="c" separator=",">
                    #{c}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 查询收藏夹 -->
    <select id="haveCollectGoodsOrShop" parameterType="com.feiniu.favorite.vo.QueryVo" resultType="Long">
        select id from favorite
        <where>
            mem_guid = #{memGuid}
            and favorite_sku = #{favoriteSku}
            and type = #{type}
            and active = 1
        </where>
        limit 1
        <!-- 同一个人对同一个商品或店铺只能收藏一次 -->
    </select>

    <!-- 批量统计收藏夹中商城商品数量 -->
    <select id="countBySkuIds" resultMap="favoriteSumVO">
        select favorite_sku smSeq,COUNT(1) totalNum from favorite
        <where>
            type = 1 and active = 1 and favorite_sku in
            <foreach collection="list" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
        GROUP BY favorite_sku
    </select>

    <select id="findMerchanId" resultMap="favorite">
        select id,mem_guid,favorite_seq from favorite  where favorite_seq  NOT  LIKE '%CM%' and type = '1' and merchant_id='-1'
	</select>

    <update id="upMerchanId" parameterType="com.feiniu.favorite.entity.FavoriteEntity">
        update favorite set merchant_id =#{merchantId}
        <where>
            id=#{id}
        </where>
    </update>

    <select id="getGoodIdsByMemGuid" resultType="java.lang.String">
	   SELECT distinct favorite_sku
		FROM favorite 
		WHERE active = TRUE
        and type in (0,1)
		and mem_guid = #{memGuid}
		order by create_time desc 
		limit #{pageAll},#{pageSize}
	</select>

    <select id="queryFavoriteByMemGuid" parameterType="java.lang.String" resultMap="favorite">
	   SELECT favorite_seq,favorite_sku,price,id
		FROM favorite 
		WHERE active = TRUE
        and type in (0,1)
		and mem_guid = #{memGuid}
	</select>

    <select id="getFavoriteByIdsAndKindsIds" parameterType="java.lang.String" resultMap="favorite">
	   SELECT id,mem_guid,favorite_seq,favorite_sku,create_time,type,seq_kind,kind_id,kind_name,is_crossborder,price,channel,merchant_id
		FROM favorite 
		WHERE active = TRUE
        and type in (0,1)
		and mem_guid = #{memGuid}
		and kind_id = #{kindId}
	</select>

    <select id="getFavoritePriceBySkuIds" resultMap="favorite">
        SELECT
        id,mem_guid,favorite_seq,favorite_sku,favorite_spu,create_time,type,seq_kind,kind_id,kind_name,is_crossborder,price,channel,merchant_id
        FROM favorite
        WHERE active = TRUE
        and type in (0,1)
        and mem_guid = #{memGuid}
        and favorite_sku in
        <foreach collection="skuIds" index="index" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="findKindName" resultMap="favorite">
        select  kind_id,kind_name from favorite  where kind_id !='' and type != '2' GROUP BY kind_id
	</select>

    <update id="upKindName" parameterType="com.feiniu.favorite.entity.FavoriteEntity">
        update favorite set kind_name =#{validateAppName}
        <where>
            kind_id=#{kindId}
        </where>
    </update>

    <!-- kafkaServiceImpl使用 -->
    <sql id="selectCountGroupBySmseq">
	    SELECT favorite_sku smSeq, 
               count(1) totalNum,
               unix_timestamp(now()) time
		FROM favorite 
		WHERE active = TRUE
		and type in (0,1)
		GROUP BY favorite_sku
	</sql>

    <select id="getAllFavoriteData" resultMap="favoriteSumVO">
        <include refid="selectCountGroupBySmseq"/>
    </select>

    <select id="getFavoriteDataBySmseqs" resultMap="favoriteSumVO">
        SELECT t.favorite_sku smSeq, count(1) totalNum,
        unix_timestamp(now()) time
        FROM favorite t
        <where>
            t.favorite_sku in
            <foreach collection="list" item="smseq" separator="," open="(" close=")">
                #{smseq}
            </foreach>
            and t.active = TRUE
            and t.type in (0,1)
        </where>

        GROUP BY t.favorite_sku
    </select>

    <select id="getSmseqsByIds" resultType="java.lang.String">
        SELECT favorite_sku from favorite WHERE active = TRUE and id in
        <foreach collection="list" item="smseq" separator="," open="(" close=")">
            #{smseq}
        </foreach>
    </select>

    <select id="getSmseqsByMemGuid" parameterType="java.lang.String" resultType="java.lang.String">
	   SELECT favorite_sku
		FROM favorite 
		WHERE active = TRUE
        and type in (0,1)
		and mem_guid = #{memGuid}
	</select>

    <select id="findUpLoad" resultMap="favorite">
        select  distinct favorite_seq from favorite  where favorite_sku='' and favorite_spu='' and type = '0' limit #{j},#{m};
	</select>
    <select id="findUpLoadNext" resultMap="favorite">
        select  distinct favorite_seq from favorite  where favorite_sku like '%CM%' and type = '0' limit 100;
	</select>

    <select id="findAll" resultMap="favorite">
        select  distinct favorite_seq from favorite  where favorite_sku!='' and favorite_spu!='' and type = '0' limit #{j},#{m};
    </select>

    <select id="getSmseqsBySkuSeq" resultMap="favorite">
        select  distinct favorite_seq from favorite  where favorite_sku=#{skuSeq} and type = '0' limit #{start},#{pageSize};
    </select>

    <update id="upLoad" parameterType="com.feiniu.favorite.entity.FavoriteEntity">
        update favorite set favorite_sku =#{skuSeq},favorite_spu =#{spuSeq}
        <where>
            favorite_seq=#{smSeq}
        </where>
    </update>

    <update id="upLoadType">
		update favorite set favorite_sku = favorite_seq where type != '0' and favorite_sku = ''
	</update>

    <update id="deleteSmSeq">
		delete from favorite where type = '0' and favorite_sku = ''
	</update>

    <update id="updateError">
        UPDATE favorite set favorite_sku=#{newSku},favorite_spu=#{spu} where favorite_sku=#{oldSku}
    </update>

    <delete id="deleteBySku">
		update favorite set active = false,guid_seq_active = null,update_time = NOW()
		where mem_guid = #{memGuid} and active = true and  favorite_sku =#{sku}
	</delete>
</mapper>