<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.feiniu.score"/>

    <bean id="cachePool" class="com.fn.cache.client.pool.CachePool">
        <!--服务器配置,静态路由-->
        <!--服务器地址 格式为host:port，若有多个则以";"间隔-->
        <!--
        <property name="servers" value="10.202.249.176:21000;10.202.249.177:21000"/>
        -->
        <!--服务器配置，动态路由-->
        <!--zookeeper地址 格式为host:port，若有多个则以";"间隔-->
        <!-- dev
        10.202.249.175:2181;10.202.249.176:2181;10.202.249.177:2181
        -->
        <!-- online
        10.201.197.185:2181;10.201.197.186:2181;10.201.197.187:2181
        -->
        <property name="zkAddress" value="${connPool.zkAddress}"/>
        <!--应用名称-->
        <property name="appName" value="${connPool.appName}"/>
        <!--连接池属性配置  可选-->
        <property name="initConn" value="${connPool.initConn}"/>
        <property name="minConn" value="${connPool.minConn}"/>
        <property name="maxConn" value="${connPool.maxConn}"/>
        <property name="maxWait" value="${connPool.maxWait}"/>
        <property name="connectionTimeout" value="${connPool.connectionTimeout}" />
        <property name="maxRedirections" value="${connPool.maxRedirections}"/>
    </bean>

    <!--cache客户端实例-->
    <bean id="redisCacheClient" class="com.fn.cache.client.RedisCacheClient" init-method="init">
        <!--缓存连接池-->
        <property name="cachePool" ref="cachePool"/>
        <!--全局默认过期时间  可选 单位：秒 api可显示设置-->
        <property name="expire" value="${cacheClient.expire}"/>
    </bean>

    <bean id="commonConfig" abstract="true">
        <!-- 配置初始化大小、最小、最大 -->
        <property name="initialSize" value="${jdbc.master.initialSize}"/>
        <property name="minIdle" value="${jdbc.master.minIdle}"/>
        <property name="maxActive" value="${jdbc.master.maxActive}"/>
        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWait" value="${jdbc.master.maxWait}"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.master.timeBetweenEvictionRunsMillis}"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="${jdbc.master.minEvictableIdleTimeMillis}"/>
        <property name="validationQuery" value="${jdbc.master.validationQuery}"/>
        <property name="testWhileIdle" value="${jdbc.master.testWhileIdle}"/>
        <property name="testOnBorrow" value="${jdbc.master.testOnBorrow}"/>
        <property name="testOnReturn" value="${jdbc.master.testOnReturn}"/>
        <!-- 打开PSCache，并且指定每个连接上PSCache的大小 mysql false -->
        <property name="poolPreparedStatements" value="${jdbc.master.poolPreparedStatements}"/>
        <property name="maxPoolPreparedStatementPerConnectionSize"
                  value="${jdbc.master.maxPoolPreparedStatementPerConnectionSize}"/>
        <!-- 配置监控统计拦截的filters -->
        <property name="filters" value="${jdbc.master.filters}"/>
        <property name="connectionProperties" value="${jdbc.master.connectionProperties}"/>
    </bean>

    <bean id="dataSourceScore0" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql0.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql0.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql0.jdbc.password}</value>
        </property>
    </bean>


    <bean id="dataSourceScore1" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql1.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql1.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql1.jdbc.password}</value>
        </property>
    </bean>


    <bean id="dataSourceScore2" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql2.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql2.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql2.jdbc.password}</value>
        </property>
    </bean>


    <bean id="dataSourceScore3" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql3.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql3.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql3.jdbc.password}</value>
        </property>
    </bean>


    <bean id="dataSourceScore4" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql4.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql4.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql4.jdbc.password}</value>
        </property>

    </bean>


    <bean id="dataSourceScore5" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql5.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql5.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql5.jdbc.password}</value>
        </property>
    </bean>


    <bean id="dataSourceScore6" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql6.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql6.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql6.jdbc.password}</value>
        </property>
    </bean>


    <bean id="dataSourceScore7" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql7.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql7.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql7.jdbc.password}</value>
        </property>
    </bean>


    <bean id="dataSourceScore8" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql8.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql8.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql8.jdbc.password}</value>
        </property>
    </bean>


    <bean id="dataSourceScore9" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql9.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql9.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql9.jdbc.password}</value>
        </property>

    </bean>


    <bean id="dataSourceScore10" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql10.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql10.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql10.jdbc.password}</value>
        </property>
    </bean>


    <bean id="dataSourceScore11" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql11.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql11.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql11.jdbc.password}</value>
        </property>
    </bean>

    <bean id="dataSourceScore12" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">
        <property name="url">
            <value>${mysql12.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql12.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql12.jdbc.password}</value>
        </property>

    </bean>


    <bean id="dataSourceScore13" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">
        <property name="url">
            <value>${mysql13.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql13.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql13.jdbc.password}</value>
        </property>
    </bean>


    <bean id="dataSourceScore14" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">
        <property name="url">
            <value>${mysql14.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql14.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql14.jdbc.password}</value>
        </property>

    </bean>


    <bean id="dataSourceScore15" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">
        <property name="url">
            <value>${mysql15.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql15.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql15.jdbc.password}</value>
        </property>
    </bean>

    <bean id="defaultDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">
        <property name="url">
            <value>${mysql.default.jdbc.url}</value>
        </property>
        <property name="username">
            <value>${mysql.default.jdbc.user}</value>
        </property>
        <property name="password">
            <value>${mysql.default.jdbc.password}</value>
        </property>
    </bean>

    <bean id="dataSourceScore0Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql0.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql0.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql0.jdbc.password.slave}</value>
        </property>
    </bean>


    <bean id="dataSourceScore1Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql1.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql1.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql1.jdbc.password.slave}</value>
        </property>
    </bean>


    <bean id="dataSourceScore2Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql2.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql2.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql2.jdbc.password.slave}</value>
        </property>
    </bean>


    <bean id="dataSourceScore3Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql3.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql3.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql3.jdbc.password.slave}</value>
        </property>
    </bean>


    <bean id="dataSourceScore4Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql4.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql4.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql4.jdbc.password.slave}</value>
        </property>

    </bean>


    <bean id="dataSourceScore5Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql5.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql5.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql5.jdbc.password.slave}</value>
        </property>
    </bean>


    <bean id="dataSourceScore6Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql6.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql6.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql6.jdbc.password.slave}</value>
        </property>
    </bean>


    <bean id="dataSourceScore7Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql7.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql7.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql7.jdbc.password.slave}</value>
        </property>
    </bean>


    <bean id="dataSourceScore8Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql8.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql8.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql8.jdbc.password.slave}</value>
        </property>
    </bean>


    <bean id="dataSourceScore9Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql9.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql9.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql9.jdbc.password.slave}</value>
        </property>

    </bean>


    <bean id="dataSourceScore10Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql10.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql10.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql10.jdbc.password.slave}</value>
        </property>
    </bean>


    <bean id="dataSourceScore11Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">

        <property name="url">
            <value>${mysql11.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql11.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql11.jdbc.password.slave}</value>
        </property>
    </bean>

    <bean id="dataSourceScore12Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">
        <property name="url">
            <value>${mysql12.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql12.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql12.jdbc.password.slave}</value>
        </property>

    </bean>


    <bean id="dataSourceScore13Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">
        <property name="url">
            <value>${mysql13.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql13.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql13.jdbc.password.slave}</value>
        </property>
    </bean>


    <bean id="dataSourceScore14Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">
        <property name="url">
            <value>${mysql14.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql14.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql14.jdbc.password.slave}</value>
        </property>

    </bean>


    <bean id="dataSourceScore15Slave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">
        <property name="url">
            <value>${mysql15.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql15.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql15.jdbc.password.slave}</value>
        </property>
    </bean>

    <bean id="defaultDataSourceSlave" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" parent="commonConfig">
        <property name="url">
            <value>${mysql.default.jdbc.url.slave}</value>
        </property>
        <property name="username">
            <value>${mysql.default.jdbc.user.slave}</value>
        </property>
        <property name="password">
            <value>${mysql.default.jdbc.password.slave}</value>
        </property>
    </bean>

    <bean id="multipleDataSource" class="com.feiniu.score.datasource.MultipleDataSource">
        <property name="targetDataSources">
            <map>
                <entry key="dataSourceScore0" value-ref="dataSourceScore0"/>
                <entry key="dataSourceScore1" value-ref="dataSourceScore1"/>
                <entry key="dataSourceScore2" value-ref="dataSourceScore2"/>
                <entry key="dataSourceScore3" value-ref="dataSourceScore3"/>
                <entry key="dataSourceScore4" value-ref="dataSourceScore4"/>
                <entry key="dataSourceScore5" value-ref="dataSourceScore5"/>
                <entry key="dataSourceScore6" value-ref="dataSourceScore6"/>
                <entry key="dataSourceScore7" value-ref="dataSourceScore7"/>
                <entry key="dataSourceScore8" value-ref="dataSourceScore8"/>
                <entry key="dataSourceScore9" value-ref="dataSourceScore9"/>
                <entry key="dataSourceScore10" value-ref="dataSourceScore10"/>
                <entry key="dataSourceScore11" value-ref="dataSourceScore11"/>
                <entry key="dataSourceScore12" value-ref="dataSourceScore12"/>
                <entry key="dataSourceScore13" value-ref="dataSourceScore13"/>
                <entry key="dataSourceScore14" value-ref="dataSourceScore14"/>
                <entry key="dataSourceScore15" value-ref="dataSourceScore15"/>

                <entry key="dataSourceScore0Slave" value-ref="dataSourceScore0Slave"/>
                <entry key="dataSourceScore1Slave" value-ref="dataSourceScore1Slave"/>
                <entry key="dataSourceScore2Slave" value-ref="dataSourceScore2Slave"/>
                <entry key="dataSourceScore3Slave" value-ref="dataSourceScore3Slave"/>
                <entry key="dataSourceScore4Slave" value-ref="dataSourceScore4Slave"/>
                <entry key="dataSourceScore5Slave" value-ref="dataSourceScore5Slave"/>
                <entry key="dataSourceScore6Slave" value-ref="dataSourceScore6Slave"/>
                <entry key="dataSourceScore7Slave" value-ref="dataSourceScore7Slave"/>
                <entry key="dataSourceScore8Slave" value-ref="dataSourceScore8Slave"/>
                <entry key="dataSourceScore9Slave" value-ref="dataSourceScore9Slave"/>
                <entry key="dataSourceScore10Slave" value-ref="dataSourceScore10Slave"/>
                <entry key="dataSourceScore11Slave" value-ref="dataSourceScore11Slave"/>
                <entry key="dataSourceScore12Slave" value-ref="dataSourceScore12Slave"/>
                <entry key="dataSourceScore13Slave" value-ref="dataSourceScore13Slave"/>
                <entry key="dataSourceScore14Slave" value-ref="dataSourceScore14Slave"/>
                <entry key="dataSourceScore15Slave" value-ref="dataSourceScore15Slave"/>
                <entry key="defaultDataSourceSlave" value-ref="defaultDataSourceSlave"/>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="defaultDataSource"/>
    </bean>

    <bean id="transactionManagerScore" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="multipleDataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManagerScore" order="2"/>

    <bean id="producerClient" class="com.feiniu.kafka.client.ProducerClient" destroy-method="close">
        <constructor-arg index="0" value="${zookeeper.connect}"/>
        <constructor-arg index="1" value="${fn.topic.order.score}"/>
        <constructor-arg index="2">
            <props>
                <prop key="serializer.class">kafka.serializer.StringEncoder</prop>
                <prop key="request.required.acks">${request.required.acks}</prop>
                <prop key="producer.type">${producer.type}</prop>
            </props>
        </constructor-arg>
    </bean>


    <!-- 与CRM相关 发送成长值 -->
    <bean id="producerGrowthClient" class="com.feiniu.kafka.client.ProducerClient" destroy-method="close">
        <constructor-arg index="0" value="${zookeeper.connect}"/>
        <!--   <constructor-arg index="1" value="${fn.topic.growth}" /> -->
        <constructor-arg index="1">
            <props>
                <prop key="serializer.class">kafka.serializer.StringEncoder</prop>
                <prop key="request.required.acks">${request.required.acks}</prop>
                <prop key="producer.type">${producer.type}</prop>
            </props>
        </constructor-arg>
    </bean>

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="sqlSessionFactoryScore" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="multipleDataSource"/>
        <property name="configLocation" value="classpath:config-mapper-score.xml"/>
        <property name="mapperLocations">
            <list>
                <value>classpath:com/feiniu/score/mapper/score/*.xml</value>
                <value>classpath:com/feiniu/score/mapper/growth/*.xml</value>
                <value>classpath:com/feiniu/score/mapper/mrst/*.xml</value>
                <value>classpath:com/feiniu/score/mapper/dataplan/*.xml</value>
            </list>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryScore"/>
        <property name="basePackage" value="com.feiniu.score.mapper.score;com.feiniu.score.mapper.growth;com.feiniu.score.mapper.mrst;com.feiniu.score.mapper.dataplan" />
    </bean>

    <bean id="requestFactory" class="org.springframework.http.client.SimpleClientHttpRequestFactory">
        <property name="readTimeout" value="${requestFactory.readTimeout}"/>
        <property name="connectTimeout" value="${requestFactory.connectTimeout}"/>
    </bean>

	<bean id="httpRequestUtil" class="com.feiniu.score.util.HttpRequestUtil">
	<property name="readTimeout" value="${requestFactory.readTimeout}"/>
	<property name="connectTimeout" value="${requestFactory.connectTimeout}"/>
	</bean>
	
    <!-- restful客户端 -->
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <constructor-arg ref="requestFactory"></constructor-arg>
        <property name="messageConverters">
            <list>
                <bean id="stringHttpMessageConverter"
                      class="org.springframework.http.converter.StringHttpMessageConverter">
                    <constructor-arg value="UTF-8"/>
                </bean>
                <bean id="formHttpMessageConverter"
                      class="org.springframework.http.converter.FormHttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <bean id="applicationContext" class="com.feiniu.score.util.ApplicationContextHolder"></bean>

    <bean id="requestFactoryBigTimeout" class="org.springframework.http.client.SimpleClientHttpRequestFactory">
        <property name="readTimeout" value="${requestFactory.readBigTimeout}"/>
        <property name="connectTimeout" value="${requestFactory.connectBigTimeout}"/>
    </bean>

    <!-- restful客户端 -->
    <bean id="restTemplateBigTimeout" class="org.springframework.web.client.RestTemplate">
        <constructor-arg ref="requestFactoryBigTimeout"></constructor-arg>
        <property name="messageConverters">
            <list>
                <bean id="stringHttpMessageConverter"
                      class="org.springframework.http.converter.StringHttpMessageConverter">
                    <constructor-arg value="UTF-8"/>
                </bean>
                <bean id="formHttpMessageConverter"
                      class="org.springframework.http.converter.FormHttpMessageConverter"/>
            </list>
        </property>
    </bean>


    <bean id="requestFactorySmallTimeout" class="org.springframework.http.client.SimpleClientHttpRequestFactory">
        <property name="readTimeout" value="${requestFactory.readSmallTimeout}"/>
        <property name="connectTimeout" value="${requestFactory.connectSmallTimeout}"/>
    </bean>

    <!-- restful客户端 -->
    <bean id="restTemplateSmallTimeout" class="org.springframework.web.client.RestTemplate">
        <constructor-arg ref="requestFactorySmallTimeout"></constructor-arg>
        <property name="messageConverters">
            <list>
                <bean id="stringHttpMessageConverter"
                      class="org.springframework.http.converter.StringHttpMessageConverter">
                    <constructor-arg value="UTF-8"/>
                </bean>
                <bean id="formHttpMessageConverter"
                      class="org.springframework.http.converter.FormHttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <bean id="constantPkadIsShow" class="com.feiniu.score.common.ConstantPkadIsShow">
        <constructor-arg  index="0" value="${show.pkads}"></constructor-arg>
        <constructor-arg  index="1" value="${hidden.pkads}"></constructor-arg>
        <constructor-arg  index="2" value="${show.pkads.partner}"></constructor-arg>
        <constructor-arg  index="3" value="${hidden.pkads.partner}"></constructor-arg>
    </bean>
</beans>